@import url("../../../template/css/less/components-import.less");
@import url("bx.style.less");

.bx_order_list {
	
	.bx_order_list_table,
	.bx_order_list_table_order {
	
		border: 3px solid @gray-lightest;
		font-size: 10.5pt;
		
		thead tr td {
			background: @gray-lightest;
			border-bottom: 0;
		}
		
		tbody tr td {
			font-size: 10.5pt;
		}
		
		thead,
		tbody {
			tr td a {
				color: @link-color;
				font-size: 10.5pt;
				
				&:hover {
					color: @link-hover-color;
				}
			}
		}
		
	}
	
	
	.bx_order_list_table {
		tbody tr td[colspan="2"] {
			background: @gray-lightest;
		}
	}
}

.tablebodytext input {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 2px solid @darken-brand-primary;
	white-space: nowrap;
	padding: 6px 14px;
	line-height: 1.72857143;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	text-shadow: none;
	box-shadow: none;
	font-size: @font-size-small;
	border-radius: 0;
	background: #fff;
	color: @darken-brand-primary;
	.bj-transition( all );
	
	&:hover,
	&:active,
	&:focus {
		outline: none;
		background: @brand-primary;
		color: #fff;
		border-color: @brand-primary;
	}
}