<link rel="stylesheet" href="/components/bx.search/style.css">

<div class="search-page">
  <form action="" method="get" class="form-inline">
    <input type="hidden" name="tags" value="">
    <input type="hidden" name="how" value="r">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="form-group">
      <tbody>
        <tr>
          <td style="width: 100%;">
						<input class="search-query form-control" type="text" name="q" value="платье">
          </td>
          <td>&nbsp;</td>
          <td>
						<input class="search-button btn btn-default" type="submit" value="Найти">
          </td>
        </tr>
      </tbody>
    </table>
    <noindex>
      <div class="search-advanced">
        <div class="search-advanced-result">
          <div class="search-result">Найдено: 2</div>
        </div>
      </div>
    </noindex>
  </form>
  <div class="search-result">
    <div class="search-item">
      <h4><a href="/catalog/zhenskoe_belje/nizhnee_bele/?sphrase_id=83">Нижнее белье</a></h4>
      <div class="search-preview">Трикотажное <b>платье</b> без рукавов и округлым вырезом горловины. Небольшие складки по линии талии и широкий втачной пояс формируют привлекательный силуэт.... </div>
    </div>
    <div class="search-item">
      <h4><a href="/news/exhibition_salon_de_fashion/?sphrase_id=83">Международная выставка одежды Salon De Fashion</a></h4>
      <div class="search-preview"> ... выставка&nbsp;Salon De Fashion&nbsp;обещает быть еще более расширенной и интересной. На выставке&nbsp;Salon De Fashion&nbsp;будут представлены все типы одежды для офиса и дома от <b>платье</b>в и шорт до VIP-аксессуаров, включая оборудование для производства и детской одежды.&nbsp;
        Заявки на участие подали более чем 1 500 компаний ... </div>
    </div>
  </div>
</div>