.blog-comment {
    margin: 0;
    padding-top: 0.7em;
}
.blog-comment-cont {
}
.blog-comment-info {
    display: block;
}
.blog-comment-content {
    display: block;
    overflow: hidden;
    padding-top: 0.5em;
}
.blog-comment-meta {
    font-size: 0.85em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.blog-comment-date {
    display: inline;
    font-size: 0.85em;
}
.blog-comment-author-info {
    display: inline;
}
.blog-comment-avatar {
    background-color: #eceaec;
    border: 1px solid #c4c4c4;
    float: left;
    height: 30px;
    margin-right: 0.5em;
    width: 30px;
}
.blog-comment-avatar img {
}
.blog-comment-meta a {
    text-decoration: none !important;
}
.blog-comment-meta a:hover {
    text-decoration: underline !important;
}
.blog-comment-link, .blog-comment-delete, .blog-comment-parent, .blog-comment-answer, .blog-comment-edit, .blog-comment-show, .blog-comment-hide {
    display: inline-block;
}
.blog-add-comment {
    padding-bottom: 1.5em;
    padding-top: 0;
    text-align: center;
}
.blog-comment-nav {
    padding-bottom: 0.6em;
    padding-left: 0.7em;
}
div.blog-comment-form {
    margin-bottom: 0.7em;
    margin-top: 0.7em;
    width: 80%;
}
div.blog-comment-field-text {
    width: 100%;
}
div.blog-comment-field-text textarea {
    width: 99.9%;
}
div.blog-comment-field-tags {
    display: none;
}
div.blog-comment-field-tags input {
    width: 80%;
}
div.blog-comment-field-captcha input {
    width: 180px;
}
div.blog-comment-field-settings input {
    font-size: 1em;
    height: 1.55em;
    margin: 0 0 0 -0.25em;
    vertical-align: middle;
    width: 1.55em;
}
div.blog-comment-field-settings label {
    vertical-align: middle;
}
div.blog-comment-fields {
    padding: 0.8em;
}
div.blog-comment-field {
}
div.blog-comment-field-title input, div.blog-comment-field-desc input {
    width: 80%;
}
div.blog-comment-field-user {
    padding-bottom: 5px;
    width: 100%;
}
div.blog-comment-field-author, div.blog-comment-field-email {
    float: left;
    width: 47%;
}
div.blog-comment-field-text {
    padding-bottom: 0.2em;
}
div.blog-comment-field-user-sep {
    float: left;
    width: 5%;
}
div.blog-comment-field-author input, div.blog-comment-field-email input {
    width: 100%;
}
div.blog-comment-field-bbcode {
    padding-top: 0.7em;
}
div.blog-comment-field-captcha-image {
    padding-top: 0.4em;
}
div.blog-comment-buttons {
    margin-top: 1em;
    padding-bottom: 0.4em;
}
div.blog-comment-buttons input {
    font-size: 1.184em;
    padding: 0 0.5em;
}

.blog-author {
    display: inline;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.blog-author-icon {
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 16px;
    line-height: 1em;
    padding-right: 0.2em;
    width: 16px;
}

div.blog-comment-new .blog-comment-date {
    background-color: #fff4ca;
    padding: 2px 4px 3px;
}
.blog-post-date, .blog-comment-date {
    color: #767676;
}
.blog-vert-separator {
	color: @body-bg;
}

div.blog-comment-line {
    background-color: #ededed;
    background-image: url("/bitrix/components/bitrix/blog/templates/.default/images/line-start.gif");
    background-position: left center;
    background-repeat: no-repeat;
    height: 1px;
}