<link href="/components/bx.catalog.element.comments/style.css" rel="stylesheet">

<div id="" class="bx_soc_comments_div bx_important bx_green">
  <div id="bx-cat-soc-comments-blg_392">
    <div id="comp_f766f4b1fe110669c822531d392865e5">
      <div class="blog-comments" id="blg-comment-20"> <a name="comments"></a>
        <div id="form_comment_" style="display:none;"> </div>
        <div id="captcha_del"> </div>
        <div class="blog-add-comment"><a class="bx_medium bx_bt_button" href="javascript:void(0)" onclick="return showComment('0')"><b>Добавить комментарий</b></a><br>
        </div>
        <a name="0"></a>
        <div id="form_comment_0">
          <div id="err_comment_0"></div>
          <div id="form_comment_0"></div>
          <div id="new_comment_cont_0"></div>
          <div id="new_comment_0" style="display:none;"></div>
          <div id="form_c_del" style="display: block;">
            <div class="blog-comment-form">
              <form method="POST" name="form_comment" id="form_comment" action="http://bejetstore.2px.ru/bitrix/templates/bejetstore_purple_white/components/bitrix/catalog.comments/.default/bitrix/blog.post.comment/adapt/ajax.php#0">
                <input type="hidden" name="parentId" id="parentId" value="0">
                <input type="hidden" name="edit_id" id="edit_id" value="">
                <input type="hidden" name="act" id="act" value="add">
                <input type="hidden" name="post" value="Отправить">
                <input type="hidden" name="IBLOCK_ID" value="2">
                <input type="hidden" name="ELEMENT_ID" value="392">
                <input type="hidden" name="SITE_ID" value="s1">
                <input type="hidden" name="sessid" id="sessid" value="89b94b04dd2c29981f714be2bfb05b5e">
                <div class="blog-comment-fields">
                  <div class="blog-comment-field blog-comment-field-user">
                    <div class="blog-comment-field blog-comment-field-author">
                      <div class="blog-comment-field-text">
                        <label for="user_name">Ваше имя</label>
                        <span class="blog-required-field">*</span></div>
                      <span>
                      <input maxlength="255" size="30" tabindex="3" type="text" name="user_name" id="user_name" value="">
                      </span></div>
                    <div class="blog-comment-field-user-sep">&nbsp;</div>
                    <div class="blog-comment-field blog-comment-field-email">
                      <div class="blog-comment-field-text">
                        <label for="">E-mail</label>
                      </div>
                      <span>
                      <input maxlength="255" size="30" tabindex="4" type="text" name="user_email" id="user_email" value="">
                      </span></div>
                    <div class="blog-clear-float"></div>
                  </div>
                  <div class="bxlhe-frame" id="bxlhe_frame_LHEBlogCom" style="width: 100%; height: 200px; display: block;">
                    <table class="bxlhe-frame-table" cellspacing="0" style="height: 200px; width: 100%;">
                      <tbody>
                        <tr class="bxlhe-editor-toolbar-row">
                          <td class="bxlhe-editor-buttons" style="height: 27px;"><div class="lhe-stat-toolbar-cont">
                              <div class="lhe-line-begin"></div>
                              <div class="lhe-button-cont"><img src="/bitrix/images/1.gif" title="Жирный (Ctrl + B)" class="lhe-button lhe-button-normal" id="lhe_btn_bold"></div>
                              <div class="lhe-button-cont"><img src="/bitrix/images/1.gif" title="Курсив (Ctrl + I)" class="lhe-button lhe-button-normal" id="lhe_btn_italic"></div>
                              <div class="lhe-button-cont"><img src="/bitrix/images/1.gif" title="Подчеркнутый (Ctrl + U)" class="lhe-button lhe-button-normal" id="lhe_btn_underline"></div>
                              <div class="lhe-button-cont"><img src="/bitrix/images/1.gif" title="Удалить форматирование" class="lhe-button lhe-button-normal" id="lhe_btn_removeformat"></div>
                              <div class="lhe-button-cont"><img src="/bitrix/images/1.gif" title="Оформление текста в виде цитаты (Ctrl + Q)" class="lhe-button lhe-button-normal" id="lhe_btn_quote"></div>
                              <div class="lhe-button-cont"><img src="/bitrix/components/bitrix/blog/templates/.default/images/bbcode/font_link.gif" title="Вставить ссылку" class="lhe-button lhe-button-normal" id="lhe_btn_createlinknc"></div>
                              <div class="lhe-button-cont"><img src="/bitrix/components/bitrix/blog/templates/.default/images/bbcode/font_image_upload.gif" title="Вставить ссылку на изображение" class="lhe-button lhe-button-normal" id="lhe_btn_imagelink"></div>
                              <div class="lhe-button-cont"><img src="/bitrix/images/1.gif" title="Таблица" class="lhe-button lhe-button-normal" id="lhe_btn_table"></div>
                              <div class="lhe-button-cont"><img src="/bitrix/images/1.gif" title="Выравнивание: По левому краю" class="lhe-button lhe-button-normal" id="lhe_btn_justifyleft_l"></div>
                              <div class="lhe-button-cont"><img src="/bitrix/images/1.gif" title="Нумерованный список" class="lhe-button lhe-button-normal" id="lhe_btn_insertorderedlist"></div>
                              <div class="lhe-button-cont"><img src="/bitrix/images/1.gif" title="Список с маркерами" class="lhe-button lhe-button-normal" id="lhe_btn_insertunorderedlist"></div>
                              <div class="lhe-button-cont" style="width: 111px;">
                                <table class="lhe-smiles-tlbr-table">
                                  <tbody>
                                    <tr>
                                      <td><div class="lhe-tlbr-smile-cont" title="С улыбкой" id="smile_0_LHEBlogCom"><img src="/bitrix/images/blog/smile/icon_smile.png" style="height: auto; width: auto; margin-top: 2px; margin-left: 2px; visibility: visible;"></div></td>
                                      <td><div class="lhe-tlbr-smile-cont" title="Шутливо" id="smile_1_LHEBlogCom"><img src="/bitrix/images/blog/smile/icon_wink.png" style="height: auto; width: auto; margin-top: 2px; margin-left: 2px; visibility: visible;"></div></td>
                                      <td><div class="lhe-tlbr-smile-cont" title="Широкая улыбка" id="smile_2_LHEBlogCom"><img src="/bitrix/images/blog/smile/icon_biggrin.png" style="height: auto; width: auto; margin-top: 2px; margin-left: 2px; visibility: visible;"></div></td>
                                      <td><div class="lhe-tlbr-smile-cont" title="Здорово" id="smile_3_LHEBlogCom"><img src="/bitrix/images/blog/smile/icon_cool.png" style="height: auto; width: auto; margin-top: 2px; margin-left: 2px; visibility: visible;"></div></td>
                                      <td><img src="/bitrix/images/1.gif" title="Смайлы" class="lhe-button lhe-button-normal lhe-tlbr-smile-more" id=""></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                              <div class="lhe-line-end"></div>
                            </div></td>
                        </tr>
                        <tr>
                          <td class="bxlhe-editor-cell" style="height: 170px;"><div class="lha-source-div">
                              <textarea class="lha-textarea" rows="25" id="comment" style="font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 16px; height: 170px; width: 963px;"></textarea>
                            </div>
                            <iframe id="LHE_iframe_LHEBlogCom" class="lha-iframe" src="javascript:void(0)"></iframe></td>
                        </tr>
                        <tr>
                          <td class="lhe-resize-row" style="height: 3px;"><img id="bxlhe_resize_LHEBlogCom" src="/bitrix/images/1.gif" title="Изменить размер"></td>
                        </tr>
                      </tbody>
                    </table>
                    <input type="hidden" name="comment" value="">
                  </div>
                  <div id="nocommentreason" style="display:none;">Пользователям запрещена вставка ссылок.</div>
                  <div class="blog-comment-field blog-comment-field-captcha">
                    <div class="blog-comment-field-captcha-label">
                      <label for="">Код подтверждения (символы на картинке)</label>
                      <span class="blog-required-field">*</span><br>
                      <input type="hidden" name="captcha_code" id="captcha_code" value="0cc48147900ef24ea1ab76fa7b1be34e">
                      <input type="text" size="30" name="captcha_word" id="captcha_word" value="" tabindex="7">
                    </div>
                    <div class="blog-comment-field-captcha-image">
                      <div id="div_captcha"><img src="/bitrix/tools/captcha.php?captcha_code=0cc48147900ef24ea1ab76fa7b1be34e" width="180" height="40" id="captcha" style="display: block;"></div>
                    </div>
                  </div>
                  <div class="blog-comment-buttons">
                    <input tabindex="10" value="Отправить" type="button" name="sub-post" id="post-button" onclick="submitComment()">
                  </div>
                </div>
                <input type="hidden" name="blog_upload_cid" id="upload-cid" value="">
              </form>
            </div>
          </div>
        </div>
        <div class="blog-comment-line" style="margin-left:0em;"></div>
        <a name="14"></a>
        <div class="blog-comment" style="padding-left:0em;">
          <div id="blg-comment-14">
            <div class="blog-comment-cont blog-comment-user-1 blog-comment-author">
              <div class="blog-comment-cont-white">
                <div class="blog-comment-info">
                  <div class="blog-author">admin</div>
                  <div class="blog-comment-date">29.10.2014 16:46:34</div>
                </div>
                <div class="blog-clear-float"></div>
                <div class="blog-comment-content"> отзыв
                  <div class="blog-comment-meta"> <span class="blog-comment-answer"><a href="javascript:void(0)" onclick="return showComment('14')">Ответить</a></span> <span class="blog-vert-separator"></span> <span class="blog-comment-link"><a href="#14">Ссылка</a></span> </div>
                </div>
              </div>
            </div>
            <div class="blog-clear-float"></div>
          </div>
          <div id="err_comment_14"></div>
          <div id="form_comment_14"></div>
          <div id="new_comment_cont_14" style="padding-left:2.5em;"></div>
          <div id="new_comment_14" style="display:none;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
