<link href="/components/bx.catalog.element.comments/style.css" rel="stylesheet">

<div id="new_comment_cont_0">
  <div style="margin-left:0em;" class="blog-comment-line"></div>
  <a name="23"></a>
  <div style="padding-left:0em;" class="blog-comment">
    <div id="blg-comment-23">
      <div class="blog-comment-cont blog-comment-new">
        <div class="blog-comment-cont-white">
          <div class="blog-comment-info">
            <div class="blog-author">
							<img src="/upload/catalogue/user.png" width="20" height="20" alt="">
							<span>Татьяна</span>
						</div>
            <div class="blog-comment-date">(месяц назад)</div>
          </div>
          <div class="blog-clear-float"></div>
          <div class="blog-comment-content"> Бывают ли упаковки, где все клипсы одного цвета?
            <div class="blog-comment-meta"> <span class="blog-comment-answer"><a onClick="return showComment('23')" href="javascript:void(0)">Ответить</a></span> <span class="blog-vert-separator"></span> <span class="blog-comment-link"><a href="#23">Ссылка</a></span> </div>
          </div>
        </div>
      </div>
      <div class="blog-clear-float"></div>
    </div>
    <div id="err_comment_23"></div>
    <div id="form_comment_23"></div>
    <div style="padding-left:2.5em;" id="new_comment_cont_23"></div>
    <div style="display:none;" id="new_comment_23"></div>
  </div>
  <div style="margin-left:0em;" class="blog-comment-line"></div>
	
	<hr class="i-line">
	
  <a name="24"></a>
  <div style="padding-left:0em;" class="blog-comment">
    <div id="blg-comment-24">
      <div class="blog-comment-cont blog-comment-new">
        <div class="blog-comment-cont-white">
          <div class="blog-comment-info">
            <div class="blog-author">
							<img src="/upload/catalogue/user.png" width="20" height="20" alt="">
							<span>Мария</span>
						</div>
            <div class="blog-comment-date">(месяц назад)</div>
          </div>
          <div class="blog-clear-float"></div>
          <div class="blog-comment-content"> например серебряного
            <div class="blog-comment-meta"> <span class="blog-comment-answer"><a onClick="return showComment('24')" href="javascript:void(0)">Ответить</a></span> <span class="blog-vert-separator"></span> <span class="blog-comment-link"><a href="#24">Ссылка</a></span> </div>
          </div>
        </div>
      </div>
      <div class="blog-clear-float"></div>
    </div>
    <div id="err_comment_24"></div>
    <div id="form_comment_24"></div>
    <div style="padding-left:2.5em;" id="new_comment_cont_24"></div>
    <div style="display:none;" id="new_comment_24"></div>
  </div>
</div>
