<link href="/components/bx.counter/bx.style.css" rel="stylesheet">
<link href="/components/bx.counter/style.css" rel="stylesheet">

<span class="item_buttons_counter_block">
	<a id="bx_117848907_11_quant_down" class="bx_bt_button_type_2 bx_small bx_fwb" href="javascript:void(0)">-</a>
	<input type="text" value="1" class="tac transparent_input" id="bx_117848907_11_quantity">
	<a id="bx_117848907_11_quant_up" class="bx_bt_button_type_2 bx_small bx_fwb" href="javascript:void(0)">+</a>
	<span id="bx_117848907_11_quant_measure" class="bx_cnt_desc">רע</span>
</span>