<link href="/components/bx.catalog.element/style.css" rel="stylesheet">

		
<h1>Куртка Dirty Dayri</h1>
<h1 class="i-small">Куртка Dirty Dayri Куртка Dirty Dayri Куртка Dirty Dayri</h1>

<div class="bx_item_detail">

	<div class="row">
			
		<div class="col-sm-6">
			<!--#include virtual="/components/bx.catalog.element/gallery.html"-->
		</div>
		
		<hr class="visible-xs-block">
	
		<div class="col-sm-6">
		
			<div class="row">
				<div class="col-sm-6">
					<!--#include virtual="/components/bx.rating.vote/template.html"-->
				</div>
				<!--<hr class="visible-xs">
				<div class="col-sm-6">
					<a href="" class="i-link-to-comments-form">Написать отзыв</a>
				</div>-->
			</div>
	
			<hr class="i-line i-size-L">
			
			<div class="row small">
					
				<div class="col-sm-6">
					
					<div class="item_info_section">
            <h3>Описание</h3>
						<p>Отличный осенний жакет, который вы сможете надеть на прогулку. Сочетается с джинсами и и кроссовками.</p>
					</div>
					
					<hr>
          
					<!--#include virtual="/components/bx.catalog.element/colors-size.html"-->
				
					<hr>
					
          <div class="bj-catalog-price-block">
            <div class="bj-price i-size-L">
              <div class="text-large item_current_price">3 450 р.</div>
              <div class="text-large text-info item_economy_price">3 450 р.</div>
              <div class="text-small item_old_price">3 450 р.</div>
              <div class="small text-muted">Экономия в цене - 599.70 руб.</div>
            </div>
            
            <div class="bj-catalog-pb__hr"></div>
            
            <div class="text-center">
              Доступно: 3 шт
            </div>
            
            <div class="bj-catalog-pb__hr"></div>
            
            <div class="text-center">
              <!--#include virtual="/components/bx.catalog.element/counter.html"-->
            </div>
          </div>
					
					<hr>
					
					<div class="text-center">
						<a href="" class="btn btn-default btn-size-L btn-100 bj-cart-button">В корзину</a>
						<a href="">Покупка в 1 клик</a>
					</div>
          
				</div>
				
				<hr class="visible-xs-block">
			
				<div class="col-sm-6">
				
					<div class="row">
						<div class="text-center bj-catalogue-label col-xs-6 col-sm-12 no-float-sm">
							<div class="bj-catalogue-label__icon">
								<img src="/upload/brand/1.jpg" class="img-responsive center-block">
							</div>
						</div>
					
            <hr class="hidden-xs">
            
            <div class="col-xs-6 col-sm-12 no-float-sm">
              <h3>Производитель</h3>
              Россия "Молодая семья"
              <h3>Материал</h3>
              95% хлопок, 5% эластан
              <h3>Артикул </h3>
              235-77-05
						</div>
					</div>
					
					<hr>
					
					<div class="row">
						<div class="text-center bj-catalogue-label col-xs-6 col-sm-12 no-float-sm">
							<div class="bj-catalogue-label__icon">
								<img src="/template/images/icons/delivery.gif" class="img-responsive center-block">
							</div>
							Бесплатная доставка по всей России
						</div>
						
						<hr class="hidden-xs">
						
						<div class="text-center bj-catalogue-label col-xs-6 col-sm-12 no-float-sm">
							<div class="bj-catalogue-label__icon">
								<img src="/template/images/icons/fitting.gif" class="img-responsive center-block">
							</div>
							Примерка перед покупкой
						</div>
					</div>
					
				</div>

			</div>
			
		</div>

	</div>

</div>

<hr>

<div class="bj-catalogue-nav-tabs">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs bj-nav-tabs" role="tablist">
		<li class="active"><a href="#comments" role="tab" data-toggle="tab">Отзывы</a></li>
		<li><a href="#info" role="tab" data-toggle="tab">Подробное описание</a></li>
		<li><a href="#props" role="tab" data-toggle="tab">Характеристики</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div class="tab-pane active" id="comments">
		
			<!--#include virtual="/components/bx.catalog.element.comments/template.html"-->
			
		</div>
		<div class="tab-pane" id="info">Тёплая куртка из твида.</div>
		<div class="tab-pane" id="props">Длина 90 см, состав шерсть 100%, подкладка вискоза 100%.</div>
	</div>
</div>