<link href="/components/bx.catalog.element/style.css" rel="stylesheet">

<div class="bx_item_detail">

	<div class="row">
			
		<div class="col-sm-6">
			<!--#include virtual="/components/bx.catalog.element/gallery.html"-->
		</div>
		
		<hr class="visible-xs-block">
	
		<div class="col-sm-6">
		
			<div class="row">
				<div class="col-sm-6">
					<!--#include virtual="/components/bx.rating.vote/template.html"-->
				</div>
				<!--<hr class="visible-xs">
				<div class="col-sm-6">
					<a href="" class="i-link-to-comments-form">Написать отзыв</a>
				</div>-->
			</div>
	
			<hr class="i-line">
			
			<div class="row small">
					
				<div class="col-sm-6">
					<!--Heading Размеры has changed, sizes tranformed from letters to digits-->
					<!--#include virtual="/components/bx.catalog.element/colors-size.html"-->
				
					<hr>
					
					<div class="bj-price i-size-L">
						<!--add class "text-large"-->
						<div class="text-large item_current_price">3 450 р.</div>
						<!--add classes "text-large text-info"-->
						<div class="text-large text-info item_economy_price">3 450 р.</div>
						<!--add class "text-small"-->
						<div class="small text-muted">Экономия в цене - 599.70 руб.</div>
						<!--add class "text-small"-->
						<div class="text-small item_old_price">3 450 р.</div>
					</div>
					
					<hr>
					
					<div class="text-center">
						<!--heading is removed-->
						<!--#include virtual="/components/bx.catalog.element/counter.html"-->
					</div>
					
					<hr>
					
					<div class="text-center">
						<!--cart button moved to another block, it's just a link with id-->
						<!--add some classes to it-->
						<!--span inside is removed, text is changed-->
						<a href="" class="btn btn-default btn-size-L btn-100 bj-cart-button">В корзину</a>
						<!--add this link-->
						<a href="">Покупка в 1 клик</a>
					</div>
				</div>
				
				<hr class="visible-xs-block">
			
				<div class="col-sm-6">
				
					<div class="row">
						<div class="text-center bj-catalogue-label col-xs-6 col-sm-12 no-float-sm">
							<div class="bj-catalogue-label__icon">
								<img src="/upload/catalogue/brand-logo.gif" class="img-responsive center-block">
							</div>
						</div>
						
						<hr class="hidden-xs">
						
						<div class="text-center bj-catalogue-label col-xs-6 col-sm-12 no-float-sm">
							<div class="bj-catalogue-label__icon">
								<img src="/template/images/icons/fitting.gif" class="img-responsive center-block">
							</div>
							Примерка перед покупкой
						</div>
					</div>
					
					<hr>
					
					<div class="row">
						<div class="text-center bj-catalogue-label col-xs-6 col-sm-12 no-float-sm">
							<div class="bj-catalogue-label__icon">
								<img src="/template/images/icons/delivery.gif" class="img-responsive center-block">
							</div>
							Бесплатная доставка по всей России
						</div>
						
						<hr class="hidden-xs">
						
						<div class="text-center bj-catalogue-label col-xs-6 col-sm-12 no-float-sm">
							<div class="bj-catalogue-label__icon">
								<img src="/template/images/icons/fitting.gif" class="img-responsive center-block">
							</div>
							Примерка перед покупкой
						</div>
					</div>
					
					<hr>
					
					<h3>Производитель</h3>
					Россия "Молодая семья"
					<h3>Материал</h3>
					95% хлопок, 5% эластан
					<h3>Артикул </h3>
					235-77-05
					
				</div>

			</div>
			
		</div>

	</div>

</div>

<hr>

<div class="bj-catalogue-nav-tabs">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs bj-nav-tabs" role="tablist">
		<li class="active"><a href="#comments" role="tab" data-toggle="tab">Отзывы</a></li>
		<li><a href="#info" role="tab" data-toggle="tab">Подробное описание</a></li>
		<li><a href="#props" role="tab" data-toggle="tab">Характеристики</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div class="tab-pane active" id="comments">
		
			<!--#include virtual="/components/bx.catalog.element.comments/template.html"-->
			
		</div>
		<div class="tab-pane" id="info">Тёплая куртка из твида.</div>
		<div class="tab-pane" id="props">Длина 90 см, состав шерсть 100%, подкладка вискоза 100%.</div>
	</div>
</div>