<div class="bj-product-card">
  <a href="/catalogue/group/group/item/" class="bj-product-card__img i-changable">
    <span style="background-image: url('/upload/product-card/2.jpg');"></span>
    <span style="background-image: url('/upload/product-card/3.jpg');"></span>
  </a>
  <div class="bj-product-card__title bj-table">
    <div class="bj-table-row">
      <div class="bj-table-cell">
        <span class="bj-product-card__title__wrapper">
          <a href="/catalogue/group/group/item/">Перчатки</a>
        </span>
      </div>
    </div>
  </div>
  <div class="bj-product-card__price bj-price bx_catalog_item_price text-center">
    <div class="text-large text-info bx_price">3 450 р.</div>
    <div class="text-small"><s>3 450 р.</s></div>
  </div>
</div>
