<link href="/components/catalog.seen/style.css" rel="stylesheet">

<div class="row">
  <div class="col-sm-2">
    <!--#include virtual="item.html"-->
  </div>
  <div class="col-sm-2">
    <!--#include virtual="item.html"-->
  </div>
  <div class="col-sm-2">
    <!--#include virtual="item.html"-->
  </div>
  <div class="col-sm-2">
    <!--#include virtual="item.html"-->
  </div>
  <div class="col-sm-2">
    <!--#include virtual="item.html"-->
  </div>
  <div class="col-sm-2">
    <!--#include virtual="item.html"-->
  </div>
</div>