@import url("../../../template/css/less/components-import.less");

.bj-look {

  &__table {
    border: 1px solid #e2e2e2;
    width: 100%;
    
    td {
      padding: 13px 12px;
      border-bottom: 1px solid #e2e2e2;
      
      &:nth-child(even) {
        text-align: right;
      }
    }
  }
  
  .fotorama__dot {
    width: 6px;
    height: 6px;
  }
  
  .fotorama__nav-wrap {
    margin-top: 10px;
  }
  
  &__price {
    font-size: 26pt;
    font-weight: 400;
    line-height: 1.4;
  }

}