<div class="bx_catalog_item double" id="bx_1182278561_44">
  <div class="bx_catalog_item_container ">
  
    <div class="bj-product-card__wrapper">
      <a id="bx_1182278561_44_pict" href="/catalog/bryuki/bryuki/" data-product-id="4" class="bx_catalog_item_images bx_rcm_view_link" style="background-image: url(&quot;http://bejetstore.2px.ru/upload/iblock/33e/33e3ec637bd54db3cb84b600e0ca1fe3.jpg&quot;);" title="картинка Брюки магазин Seller являющийся официальным дистрибьютором в России ">
      </a>
      
      <a id="bx_1182278561_44_secondpict" href="/catalog/bryuki/bryuki/" class="bx_catalog_item_images_double bx_rcm_view_link" data-product-id="4" style="background-image: url(&quot;http://bejetstore.2px.ru/upload/iblock/33e/33e3ec637bd54db3cb84b600e0ca1fe3.jpg&quot;);" title="картинка Брюки магазин Seller являющийся официальным дистрибьютором в России ">
      </a>
    
      <div class="i-relative">
        <div class="bj-product-card__info"><span id="bx_2653587903_4_dsc_perc" style="display:;">-30%</span></div>
      </div>
    
    </div>
    
    <div class="bj-product-card__wrapper">
      <div class="bj-product-card__title bj-table bx_catalog_item_title">
        <div class="bj-table-row">
          <div class="bj-table-cell">
            <span class="bj-product-card__title__wrapper">
              <a href="/catalogue/group/group/item/">Штаны цветочная поляна в комплекте с чёрной футболкой</a>
            </span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row bj-product-card__cart">
      <div class="col-xs-6 bj-product-card__price bj-price bx_catalog_item_price">
        <div id="bx_1182278561_44_price" class="text-large text-info bx_price">1 399 р.</div>
        <div class="text-small"><s>1 399 р.</s></div>
      </div>
      <div class="col-xs-6">
        <a id="bx_1182278561_44_buy_link" class="btn btn-default hidden-xs" href="javascript:void(0)" rel="nofollow">Купить</a>
        <a class="btn btn-default visible-xs-inline-block" href="/catalogue/group/group/item/">Купить</a>
      </div>
    </div>
    
    <div class="bx_catalog_item_controls no_touch">
			<span class="bx_catalog_item_controls__wrapper">
				<a id="bx_3997203760_11_quant_down" href="javascript:void(0)" class="bx_bt_button_type_2 bx_small" rel="nofollow">-</a>
				<input type="text" class="bx_col_input" id="bx_3997203760_11_quantity" name="quantity" value="1">
				<a id="bx_3997203760_11_quant_up" href="javascript:void(0)" class="bx_bt_button_type_2 bx_small" rel="nofollow">+</a>
			</span>
		</div>
    
    <div class="bx_catalog_item_scu" id="bx_1182278561_44_sku_tree">
      <div class="bj-product-card__wrapper">
        <div class="bx_item_detail_scu" id="bx_1182278561_44_prop_31_cont"> <span class="bx_item_section_name_gray">Цвет</span>
          <div class="bx_scu_scroller_container">
            <div class="bx_scu">
              <ul id="bx_1182278561_44_prop_31_list" style="width: 100%; margin-left: 0%;">
                <li data-treevalue="31_16" data-onevalue="16" style="width: 20%; padding-top: 20%; display: none;" class="bx_missing"><i title="Серый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('/upload/uf/54e/54e5a80ecf625989fc6e7d4ef43a6ed7.gif');" title="Серый"></span></span></li>
                <li data-treevalue="31_17" data-onevalue="17" style="width: 20%; padding-top: 20%; display: none;" class="bx_missing"><i title="Темно-коричневый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('/upload/uf/79f/79f5427e13c290f5100386f940d7b83a.gif');" title="Темно-коричневый"></span></span></li>
                <li data-treevalue="31_15" data-onevalue="15" style="width: 20%; padding-top: 20%; display: none;" class="bx_missing"><i title="Сине белый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('/upload/uf/02f/02f6a70cbb2c7d571a40c8e1ba6ad679.gif');" title="Сине белый"></span></span></li>
                <li data-treevalue="31_1" data-onevalue="1" style="width: 20%; padding-top: 20%; display: none;" class="bx_missing"><i title="Фиолетовый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://bejetstore.2px.ru/upload/uf/1de/1deba7c856fe04057807740af6c5b532.jpg');" title="Фиолетовый"></span></span></li>
                <li data-treevalue="31_2" data-onevalue="2" style="width: 20%; padding-top: 20%; display: none;" class="bx_missing"><i title="Коричневый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://bejetstore.2px.ru/upload/uf/dc0/dc0e3e4b39b17df6eff196f15b4f9faa.jpg');" title="Коричневый"></span></span></li>
                <li data-treevalue="31_3" data-onevalue="3" style="width: 20%; padding-top: 20%; display: none;" class="bx_missing"><i title="Морской Волны"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://bejetstore.2px.ru/upload/uf/684/684f8b8c86ee2ce1cf7e4e6bc84dff6d.jpg');" title="Морской Волны"></span></span></li>
                <li data-treevalue="31_4" data-onevalue="4" style="width: 20%; padding-top: 20%; display: none;" class="bx_missing"><i title="Синий"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://bejetstore.2px.ru/upload/uf/98b/98b11f09482cee0c643bbbe1a4e58d4d.jpg');" title="Синий"></span></span></li>
                <li data-treevalue="31_5" data-onevalue="5" style="width: 20%; padding-top: 20%; display: none;" class="bx_missing"><i title="Оранжевый с Красным"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://bejetstore.2px.ru/upload/uf/e1f/e1f747aeffef26ce3c1a707fcebc54da.jpg');" title="Оранжевый с Красным"></span></span></li>
                <li data-treevalue="31_6" data-onevalue="6" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Красный с Синим"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://bejetstore.2px.ru/upload/uf/2f6/2f6b1c8547c81e73d42ac147d2afbf7c.jpg');" title="Красный с Синим"></span></span></li>
                <li data-treevalue="31_7" data-onevalue="7" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Красный"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://bejetstore.2px.ru/upload/uf/e74/e744340bc3023cad627f9c44df7c29f6.jpg');" title="Красный"></span></span></li>
                <li data-treevalue="31_8" data-onevalue="8" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Зеленый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://bejetstore.2px.ru/upload/uf/831/8319a02ed187f0b06f8592febae5f68e.jpg');" title="Зеленый"></span></span></li>
                <li data-treevalue="31_9" data-onevalue="9" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Белый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://bejetstore.2px.ru/upload/uf/6f1/6f18837665ac5ea75dd0abc3ed6aa3cb.jpg');" title="Белый"></span></span></li>
                <li data-treevalue="31_10" data-onevalue="10" style="width: 20%; padding-top: 20%;" class="bx_active"><i title="Черный"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://bejetstore.2px.ru/upload/uf/ddc/ddc4adb00f934285f0d7e81d1a29363e.jpg');" title="Черный"></span></span></li>
                <li data-treevalue="31_11" data-onevalue="11" style="width: 20%; padding-top: 20%; display: none;" class="bx_missing"><i title="Розовый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://bejetstore.2px.ru/upload/uf/440/44019e321ce5ac6f89ca00d2bbe2fb08.jpg');" title="Розовый"></span></span></li>
                <li data-treevalue="31_12" data-onevalue="12" style="width: 20%; padding-top: 20%; display: none;" class="bx_missing"><i title="Голубой"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://bejetstore.2px.ru/upload/uf/9c5/9c5f68b0e79cde0c10f9b455830c50bd.jpg');" title="Голубой"></span></span></li>
                <li data-treevalue="31_13" data-onevalue="13" style="width: 20%; padding-top: 20%; display: none;" class="bx_missing"><i title="Синяя джинса"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://bejetstore.2px.ru/upload/uf/3bd/3bdf6913bf0317322c74ad6cf0827760.jpg');" title="Синяя джинса"></span></span></li>
                <li data-treevalue="31_0" data-onevalue="0" style="width: 20%; padding-top: 20%; display: none;" class="bx_missing"><i title="-"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('/bitrix/templates/bejetstore_purple_white/components/bitrix/catalog.bigdata.products/.default/images/no_photo.png');" title="-"></span></span></li>
              </ul>
            </div>
            <div class="bx_slide_left" id="bx_1182278561_44_prop_31_left" data-treevalue="31" style="display: none;"></div>
            <div class="bx_slide_right" id="bx_1182278561_44_prop_31_right" data-treevalue="31" style="display: none;"></div>
          </div>
        </div>
      </div>
      <div>
        <div class="bx_item_detail_size" id="bx_1182278561_44_prop_30_cont">
          <span class="bx_item_section_name_gray">Размеры</span>
          <div class="bx_size_scroller_container">
            <div class="bx_size">
              <ul id="bx_1182278561_44_prop_30_list" style="width: 100%; margin-left: 0%;">
                <li data-treevalue="30_10" data-onevalue="10" style="width: 20%; display: none;" class="bx_missing"><i></i><span class="cnt">XS</span> </li>
                <li data-treevalue="30_11" data-onevalue="11" style="width: 20%;" class=""><i></i><span class="cnt">S</span> </li>
                <li data-treevalue="30_12" data-onevalue="12" style="width: 20%; display: none;" class="bx_missing"><i></i><span class="cnt">M</span> </li>
                <li data-treevalue="30_13" data-onevalue="13" style="width: 20%;" class=""><i></i><span class="cnt">L</span> </li>
                <li data-treevalue="30_14" data-onevalue="14" style="width: 20%;" class="bx_active"><i></i><span class="cnt">XL</span> </li>
                <li data-treevalue="30_15" data-onevalue="15" style="width: 20%; display: none;" class="bx_missing"><i></i><span class="cnt">XXL</span> </li>
                <li data-treevalue="30_16" data-onevalue="16" style="width: 20%; display: none;" class="bx_missing"><i></i><span class="cnt">XXXL</span> </li>
                <li data-treevalue="30_0" data-onevalue="0" style="width: 20%; display: none;" class="bx_missing"><i></i><span class="cnt">-</span> </li>
              </ul>
            </div>
            <div class="bx_slide_left" id="bx_1182278561_44_prop_30_left" data-treevalue="30" style="display: none;"></div>
            <div class="bx_slide_right" id="bx_1182278561_44_prop_30_right" data-treevalue="30" style="display: none;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>