.blog-comment {
    margin: 0;
    padding-top: 0.7em;
}
.blog-comment-cont {
}
.blog-comment-info {
    display: block;
}
.blog-comment-content {
    display: block;
    overflow: hidden;
    padding-top: 0.5em;
}
.blog-comment-meta {
    font-size: 0.85em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.blog-comment-date {
    display: inline;
    font-size: 0.85em;
}
.blog-comment-author-info {
    display: inline;
}
.blog-comment-avatar {
    background-color: #eceaec;
    border: 1px solid #c4c4c4;
    float: left;
    height: 30px;
    margin-right: 0.5em;
    width: 30px;
}
.blog-comment-avatar img {
}
.blog-comment-meta a {
    text-decoration: none !important;
}
.blog-comment-meta a:hover {
    text-decoration: underline !important;
}
.blog-comment-link, .blog-comment-delete, .blog-comment-parent, .blog-comment-answer, .blog-comment-edit, .blog-comment-show, .blog-comment-hide {
    display: inline-block;
}
.blog-add-comment {
    padding-bottom: 1.5em;
    padding-top: 0;
    text-align: center;
}
.blog-comment-nav {
    padding-bottom: 0.6em;
    padding-left: 0.7em;
}

.blog-author {
    display: inline;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.blog-author-icon {
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 16px;
    line-height: 1em;
    padding-right: 0.2em;
    width: 16px;
}

div.blog-comment-new .blog-comment-date {
    background-color: #fff4ca;
    padding: 2px 4px 3px;
}
.blog-post-date, .blog-comment-date {
    color: #767676;
}
.blog-vert-separator {
	color: @body-bg;
}

div.blog-comment-line {
    background-color: #ededed;
    background-image: url("/bitrix/components/bitrix/blog/templates/.default/images/line-start.gif");
    background-position: left center;
    background-repeat: no-repeat;
    height: 1px;
}