@import url("../../../template/css/less/components-import.less");

@import url("form/bx.style.less");
@import url("form/style.less");

@import url("bx.style.less");

.blog-comment-meta {
	display: none;
}

div.blog-comment-new .blog-comment-date {
	background: none;
}

div.blog-comment .blog-author {
	font-size: @font-size-base !important;
	font-weight: 300;
}

.blog-author {
	img,
	span {
		display: inline-block;
		vertical-align: top;
	}
	
	img {
		margin-right: 10px;
	}
}

.blog-comment-line {
	display: none;
}

.bj-no-comments {
	border: 1px solid #f2f2f2;
	padding: 35px 35px 35px 120px;
	background: url(/template/images/icons/no-comments.png) no-repeat 23px center;
	line-height: normal;
}