@import url("../../../template/css/less/components-import.less");

.blog-comment-meta {
	display: none;
}

div.blog-comment-new .blog-comment-date {
	background: none;
}

div.blog-comment .blog-author {
	font-size: @font-size-base !important;
	font-weight: 300;
}

.blog-author {
	img,
	span {
		display: inline-block;
		vertical-align: top;
	}
	
	img {
		margin-right: 10px;
	}
}

.blog-comment-line {
	display: none;
}