<link href="/components/bx.sale.personal.order.list/style.css" rel="stylesheet">

<div class="bx_my_order_switch">
	<a class="bx_mo_link" href="/personal/order/?show_all=Y">Посмотреть все заказы</a>
	<a class="bx_mo_link" href="/personal/order/?filter_history=Y">Посмотреть историю заказов</a>
</div>

<div class="bx_my_order_status_desc">
  <h2>Заказы в статусе "Принят, ожидается оплата"</h2>
  <div class="bx_mos_desc">Заказ принят, но пока не обрабатывается.</div>
</div>
<div class="bx_my_order">
  <table class="bx_my_order_table">
    <thead>
      <tr>
        <td> Заказ №8																			от 24.10.2014 </td>
        <td style="text-align: right;"><a href="/personal/order/detail/8/">Подробнее о заказе</a> </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Сумма к оплате:</strong> 6 899.30 руб. <br>
          <strong>Оплачен:</strong> Нет <br>
          <strong>Способ оплаты:</strong> Яндекс.Деньги <br>
          <strong>Доставка:</strong> Доставка курьером <br>
          <strong>Состав заказа:</strong>
          <ul class="bx_item_list">
            <li> <a href="/catalog/shtany/bryuki/" target="_blank"> Брюки </a> <nobr>&nbsp;— 1 шт</nobr> </li>
            <li> <a href="/catalog/shoes-mens/kozhannye_polubotinki/" target="_blank"> Кожанные полуботинки </a> <nobr>&nbsp;— 1 шт</nobr> </li>
          </ul></td>
        <td> 24.10.2014
          <div class="bx_my_order_status green">Принят, ожидается оплата</div>
					
					<!-- classes for buttons, remove bx_big bx_bt_button_type_2 -->
          <a href="/personal/order/cancel/8/?CANCEL=Y" style="min-width:140px" class="bx_cart bx_order_action btn btn-default">Отменить заказ</a>
					<a href="/personal/order/index.php?ID=8&amp;COPY_ORDER=Y" style="min-width:140px" class="bx_cart bx_order_action btn btn-default">Повторить заказ</a>
					<!-- end -->
				</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="bx_my_order">
  <table class="bx_my_order_table">
    <thead>
      <tr>
        <td> Заказ №7																			от 24.10.2014 </td>
        <td style="text-align: right;"><a href="/personal/order/detail/7/">Подробнее о заказе</a> </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Сумма к оплате:</strong> 4 500 руб. <br>
          <strong>Оплачен:</strong> Нет <br>
          <strong>Способ оплаты:</strong> Яндекс.Деньги <br>
          <strong>Доставка:</strong> Доставка курьером <br>
          <strong>Состав заказа:</strong>
          <ul class="bx_item_list">
            <li> <a href="/catalog/zhenskaya_obuv/tufli_zhenskie_svural/" target="_blank"> Туфли Ультра Лайн </a> <nobr>&nbsp;— 1 шт</nobr> </li>
          </ul></td>
        <td> 24.10.2014
          <div class="bx_my_order_status green">Принят, ожидается оплата</div>
					
					<!-- classes for buttons -->
          <a href="/personal/order/cancel/7/?CANCEL=Y" style="min-width:140px" class="bx_order_action btn btn-default">Отменить заказ</a> <a href="/personal/order/index.php?ID=7&amp;COPY_ORDER=Y" style="min-width:140px" class="bx_cart bx_order_action btn btn-default">Повторить заказ</a>
					<!-- end -->
				</td>
      </tr>
    </tbody>
  </table>
</div>
