<link href="/components/bx.rating.vote/bx.style.css" rel="stylesheet">
<link href="/components/bx.rating.vote/style.css" rel="stylesheet">

<table align="center" class="bx_item_detail_rating">
	<tbody><tr>
		<td>
			<div class="bx_item_rating">
				<div class="bx_stars_container">
					<div class="bx_stars_bg" id="bx_vo_2_11_sBq3II_stars"></div>
					<div class="bx_stars_progres" id="bx_vo_2_11_sBq3II_progr" style="width: 80%;"></div>
				</div>
			</div>
		</td>
		<td>
			<span class="bx_stars_rating_votes" id="bx_vo_2_11_sBq3II_rating">( 1 )</span>
		</td>
	</tr>
</tbody></table>