<link href="/components/bx.search.title/style.css" rel="stylesheet">

<div class="title-search-result" style="position: absolute; top: 200px; left: 335px; width: 30px; display: block;">
  <div class="bx_searche">
    <div class="bx_item_block">
      <div class="bx_img_element">
        <div class="bx_image" style="background-image: url('/upload/resize_cache/iblock/d8d/75_75_1/d8d92069a8ff2a9d1a52da85c973e9cd.jpg')"></div>
      </div>
      <div class="bx_item_element"> <a href="/catalog/tufli/shoes-evening-butterfly/"><b>Туф</b>ли Вечерняя Бабочка</a> </div>
      <div style="clear:both;"></div>
    </div>
    <div class="bx_item_block">
      <div class="bx_img_element">
        <div class="bx_image" style="background-image: url('/upload/resize_cache/iblock/49f/75_75_1/49f9f4cb35c726848f4ae356052a62f3.jpg')"></div>
      </div>
      <div class="bx_item_element"> <a href="/catalog/zhenskaya_obuv/tufli_zhenskie_svural/"><b>Туф</b>ли женские SVURAL</a> </div>
      <div style="clear:both;"></div>
    </div>
    <div class="bx_item_block">
      <div class="bx_img_element">
        <div class="bx_image" style="background-image: url('/upload/resize_cache/iblock/ebd/75_75_1/ebdd047aecdd7cacabf72589fb651b91.jpg')"></div>
      </div>
      <div class="bx_item_element"> <a href="/catalog/tufli/shoes-flight-of-the-valkyries/"><b>Туф</b>ли Полет Валькирии</a> </div>
      <div style="clear:both;"></div>
    </div>
    <div class="bx_item_block others_result">
      <div class="bx_img_element"></div>
      <div class="bx_item_element"> <a href="/catalog/tufli/"><b>Туф</b>ли</a> </div>
      <div style="clear:both;"></div>
    </div>
    <div class="bx_item_block others_result">
      <div class="bx_img_element"></div>
      <div class="bx_item_element"> <a href="/catalog/shoess/"><b>Туф</b>ли</a> </div>
      <div style="clear:both;"></div>
    </div>
    <div class="bx_item_block" style="min-height:0">
      <div class="bx_img_element"></div>
      <div class="bx_item_element">
        <hr>
      </div>
    </div>
    <div class="bx_item_block all_result">
      <div class="bx_img_element"></div>
      <div class="bx_item_element"> <span class="all_result_title"><a href="/catalog/?q=%D1%82%D1%83%D1%84">Все результаты</a></span> </div>
      <div style="clear:both;"></div>
    </div>
  </div>
</div>
