.bj-sorting {
	background: url("data:image/gif;base64,R0lGODlhCgAOAIABAGZmZv///yH5BAEAAAEALAAAAAAKAA4AAAIajG8AiMrnXohpTVsztCr6rnXc+FXldYohUAAAOw==") no-repeat 0 center;
	padding-left: 22px;
	
	.dropdown {
		float: left;
	}
	
	.form-control {
		width: 177px;
		overflow: hidden;
		
		.caret {
			float: right;
			margin-top: 10px;
		}
	}
}

.bj-catalogue {
	&-label {
		line-height: normal;
		
		&__icon {
			border: 1px solid #f2f2f2;
			margin-bottom: 15px;
		}
	}
}

.bj-catalogue-nav-tabs {
	.tab-content {
		border: 3px solid #f2f2f2;
		border-top: none;
		padding: 50px;
	}
}

.bj-nav-tabs.nav-tabs {
	margin-bottom: 0;
	border-bottom: 3px solid #f2f2f2;
	
	li {
		margin: 0 2px 0 0;
		border: 3px solid #f2f2f2;
		
		a {
			margin-bottom: 0;
			margin-right: 0;
			background-color: #f2f2f2;
			border: 0 !important;
			border-radius: 0 !important;
			padding-bottom: 6px;
			margin-bottom: -6px;
		}
		
		&.active a {
			
			&, &:hover {
				background-color: #fff;
			}
		}
		
		@media (max-width: @screen-xs-min) {
			width: 100%;
		}
	} 
}

.bj-price.i-size-L {
	height: auto;
	
	.text-large {
		font-size: 26pt;
		line-height: normal;
	}
	
	.text-small {
		font-size: 10.5pt;
	}
}

.bj-no-comments {
	border: 1px solid #f2f2f2;
	padding: 35px 35px 35px 120px;
	background: url(/template/images/icons/no-comments.png) no-repeat 23px center;
	line-height: normal;
}

.bj-cart-button {
	margin-bottom: 10px;
}