.bj-catalogue-filter {
	border: 3px solid @gray-lightest;
	padding: 15px 8px;
	
	.form-group {
		margin-bottom: 25px;
	}
}

.bj-cf__colors {
	label {
		float: left;
		margin-right: 1px;
		width: 24px;
		height: 24px;
		
		input {
			display: none;
		}
	}
}