.bj-sorting {
	background: url("data:image/gif;base64,R0lGODlhCgAOAIABAGZmZv///yH5BAEAAAEALAAAAAAKAA4AAAIajG8AiMrnXohpTVsztCr6rnXc+FXldYohUAAAOw==") no-repeat 0 center;
	padding-left: 22px;
	
	.dropdown {
		float: left;
	}
	
	.form-control {
		width: 177px;
		overflow: hidden;
		
		.caret {
			float: right;
			margin-top: 10px;
		}
	}
}