.bj {
	&-page {	
		&-footer {
			background-color: @brand-primary;
			color: #fff;
			padding-top: @line-height-computed * 3;
			padding-bottom: @line-height-computed * 3 + 75px;
			
			@media (max-width: @screen-xs-max) {
				font-size: @font-size-large;
				padding-top: ceil( @line-height-computed * 1.5 );
				padding-bottom: ceil( @line-height-computed * 2.2 ) + 55px;
			}
			
			a {
				&,
				&:hover,
				&:active {
					color: #fff;
				}
			}
			
			&__payment {
				.bj-icon {
					width: 30px;
				}
			}
			
			.bj-phone {
				text-align: left;
				line-height: 33px;
				
				.glyphicon {
					width: 24px;
					line-height: 24px;
					margin-right: ceil( @line-height-computed * 0.5 );
				}
			}
		}
	}
}

#b-float-phone {
	position: fixed;
	bottom: -60px;
	left: 0;
	width: 100%;
	margin: 0;
	text-align: center;
	padding: 15px 0;
	color: #fff;
	font-size: 16pt;
	height: 60px;
	.bj-transition( bottom );
	z-index: 997;
	
	&.i-visible {
		bottom: 0;
	}
	
	.glyphicon {
		margin-right: 10px;
		line-height: 60px;
	}
	
	.bx-touch & {
		display: none;
	}
}

.b-float-phone {
	&__bg {
		background-color: @brand-primary;
		.opacity(0.8);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 60px;
		z-index: 998;
	}
	
	&__content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		line-height: 60px;
		z-index: 999;
	}
	
	&__text {
		display: inline-block;
		white-space: nowrap;
	}
}

/*.bx-btn-border {
	background-position: right 5px;
	border: 1px solid #d4d4d4;
	height: 29px !important;
	line-height: 29px !important;
}
.bx-btn-black {
	background-image: url("/bitrix/images/main/composite/bx-black-logo.png");
	color: #000 !important;
}
.bx-composite-btn-fixed {
	position: absolute;
	right: 15px;
	top: -45px;
	z-index: 10;
}
.bx-composite-btn {
	background: url("/bitrix/images/main/composite/bx-white-logo.png") no-repeat scroll right 5px #e94524;
	border-radius: 15px;
	color: #ffffff !important;
	display: inline-block;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	font-size: 12px !important;
	font-weight: bold !important;
	height: 31px !important;
	line-height: 30px;
	padding: 0 42px 0 17px !important;
	text-decoration: none !important;
	vertical-align: middle !important;
}*/

.bj-footer-bitrix-btn {
	position: relative;
	padding: 0;
	
	&__inner {
		position: absolute;
		top: -75px;
		left: 0;
		width: 100%;
			
		@media (max-width: @screen-xs-max) {
			top: -55px;
		}
		
		div {
			position: relative;
			border-top: 1px solid #fff;
			margin: 0 15px;
		}
		
		a {
			position: absolute;
			right: 0;
			top: -15px;
			z-index: 10;
			
			&:before {
				content: " ";
				position: absolute;
				top: 0;
				left: -30px;
				display: block;
				width: 30px;
				height: 30px;
				background: @brand-primary;
			}
		}
	}
}

.glyphicon-earphone:before {
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 60px;
  background: data-uri( 'img/phone.png' ) no-repeat center center;
}