input[type=email] {
	background-image: url(images/envelope.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-left: 42px;
}

.bj {
	&-range {
		
		&__input {
			display: none !important;
		}
		
	}
}