body {
	font-weight: 300;
}

button:focus {
	outline: none !important;
}

.container-fluid {
	max-width: 1200px !important;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
	display: block;
	
	&:first-child {
		margin-top: 0;
	}
}

h1, .h1,
h2, .h2,
h3, .h3 {
	color: @gray-darker;
}

h3, .h3 {
	font-weight: 700;
}

h4, .h4,
h5, .h5 {
	color: @gray;
	font-weight: 700;
}

h5, .h5 {
	font-size: 9pt;
}

h1, .h1,
h2, .h2,
h3, .h3 {
	margin-bottom: @line-height-computed;
}

a:focus {
	outline: none;
	text-decoration: none;
}

.btn {
	background-image: none;
	
	&-size-L {
		font-size: 13.5pt;
		font-weight: 700;
		line-height: 56px;
	}
}

.hidden-xxs {
	@media (max-width: @screen-xxs-width) {
		display: none;
	}
}

.visible-xxs {
	&-block,
	&-inline,
	&-inline-block {
		display: none;
	}
	
	@media (max-width: @screen-xxs-width) {
		&-block {
			display: block;
		}
		
		&-inline {
			display: inline;
		}
		
		&-inline-block {
			display: inline-block;
		}
	}
}

hr {	
	border: 0;
	height: 1px;
	margin-bottom: ceil( @line-height-computed * 0.75 );
	margin-top: ceil( @line-height-computed * 0.75 );
	
	@media (max-width: @screen-xs-max) {
		margin-bottom: ceil( @line-height-computed * 0.5 );
		margin-top: ceil( @line-height-computed * 0.5 );
	}
	
	&.clearfix {
		clear: both;
	}
	
	&.i-size-L {
		margin-bottom: ceil( @line-height-computed * 1.5 );
		margin-top: ceil( @line-height-computed * 1.5 );
	
		@media (max-width: @screen-xs-max) {
			margin-bottom: @line-height-computed;
			margin-top: @line-height-computed;
		}
	}
	
	&.i-line {
		border-top: 1px solid @gray-lighter;
		height: 0;
	}
}

menu {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.btn-100 {
	width: 100%;
}

.text-large {
	font-size: @font-size-large;
}

.i-relative {
	position: relative;
}

.bj {

	&-h1-nav {
		float: right;
		margin-left: 20px;
	}
	
	&-top-decoration {
		border-top: 1px solid #f2f2f2;
	}

	&-text-block {
		@media (max-width: @screen-xs-max) {
			text-align: center;
			
			menu,
			ul,
			ol {
				padding: 0 80px;
				text-align: left;
			}
		}
	}

	&-icon-link {
		vertical-align: middle;
		white-space: nowrap;
		
		a&,
		a&:hover,
		a&:active,
		a&:focus {
			text-decoration: none;
		}
		
		&__icon {
			margin-right: ceil( @line-height-computed * 0.5 );
		}
		
		&__icon,
		&__link {
			display: inline-block;
			vertical-align: middle;
		}
	}
	
	&-price {
		height: 36px;
		
		.text-large,
		.text-small {
			line-height: 18px;
		}
	}
	
	&-icon {
		width: 24px;
		height: 24px;
		display: inline-block;
		background: url(images/icons.png) no-repeat 0 0;
		
		&.i-thumbs-up {
			background-position: -41px 0;
			
			&:hover,
			a:hover & {
				background-position: -41px -28px;
			}
			
			&:active,
			a:active &  {
				background-position: -41px -60px;
			}
		}
		
		&.i-new {
			background-position: -77px 0;
			
			&:hover,
			a:hover &  {
				background-position: -77px -28px;
			}
			
			&:active,
			a:active &  {
				background-position: -77px -60px;
			}
		}
		
		&.i-flash {
			background-position: -110px 0;
			
			&:hover,
			a:hover &  {
				background-position: -110px -28px;
			}
			
			&:active,
			a:active &  {
				background-position: -110px -60px;
			}
		}
		
		&.i-hit {
			background-position: -142px 0;
			
			&:hover,
			a:hover &  {
				background-position: -142px -28px;
			}
			
			&:active,
			a:active &  {
				background-position: -142px -60px;
			}
		}
		
		/*.bj-page-footer & {
			&.i-tw {
				background-position: 2px 4px;
			}
			
			&.i-fb {
				background-position: 2px -22px;
			}
			
			&.i-in {
				background-position: 2px -56px;
			}
			
			&.i-vk {
				background-position: 2px -83px;
			}
		}*/
		
		&.i-menu {
			background: url("data:image/gif;base64,R0lGODlhDwAOAIABAMzMzP///yH5BAEAAAEALAAAAAAPAA4AAAIUhI+pa+EPo5y02siyPrf7b23iUgAAOw==") no-repeat center center;
			
			&:hover {
				background-image: url("data:image/gif;base64,R0lGODlhDwAOAIABAGZmZv///yH5BAEAAAEALAAAAAAPAA4AAAIUhI+pa+EPo5y02siyPrf7b23iUgAAOw==");
			}
			
			.bj-page-header__top & {
				background-image: url("data:image/gif;base64,R0lGODlhDwAOAIABAP///////yH5BAEAAAEALAAAAAAPAA4AAAIUhI+pa+EPo5y02siyPrf7b23iUgAAOw==");
			}
		}
	}
	
	&-table {
		display: table;
		
		&-row {
			display: table-row;
		}
		
		&-cell {
			display: table-cell;
		}
	}
	
	&-block {
		line-height: normal;
	
		&__title {
			width: 100%;
			height: @block-title-height + 2 * @padding-large-vertical;
			border-bottom: 1px solid @gray-lightest;
			margin-bottom: ceil( @line-height-computed / 2 );
			line-height: 1.3;
			
			&.bj-table {
				width: 100%;
			}
			
			&__wrapper {
				display: inline-block;
				vertical-align: middle;
				max-height: @block-title-height;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			
			.bj-table-cell {
				vertical-align: middle;
				text-align: left;
				padding: @padding-large-vertical 0;
				height: @block-title-height;
				
				@media( max-width: @screen-xs-max ) {
					text-align: center;
					height: auto;
				}
			}
			
			h2, .h2 {
				margin: 0;
			}
		}
		
		&__list {
			font-size: 9pt;
			
			a {
				white-space: nowrap;
				word-wrap: break-word;
				margin-right: 10px;
			}
		}
		
		.bj-hr {
			margin: ceil(@line-height-computed / 2) 0;
		}
		
		@media( max-width: @screen-xs-max ) {
			text-align: center;
			
			&__img {
				display: block;
				margin-right: auto;
				margin-left: auto;
			}
		}
	}
}

.bj-h1-nav.nav-pills {
	margin-left: 30px;
	
	li {
		margin-left: 10px;
		
		a {
			border: 1px solid @gray-lighter;
		}
		
		&.active a {
			&,
			&:hover,
			&:focus {
				border-color: @component-active-bg;
			}
		}
	}
}

@media (max-width: @screen-xs-max) {
	.no-float-xs {
		float: none;
	}
}
@media (min-width: @screen-sm-min) {
	.no-float-sm {
		float: none;
	}
}
@media (min-width: @screen-md-min) {
	.no-float-md {
		float: none;
	}
}
@media (min-width: @screen-lg-min) {
	.no-float-lg {
		float: none;
	}
}