@title-height: 36px;

.bj {
	&-index-banners {
		img {
			.center-block();
		}
		
		hr {
			@media (max-width: @screen-xs-max) {
				float: left;
				width: 100%;
			}
		}
	}
	
	&-news-carousel {
		padding-right: 7%; 
		padding-left: 7%; 
		@media (max-width: @screen-xs-max) {
			font-size: @font-size-large;
		}
	}
	
	&-catalogue-tabs {
		
		.active .bj-icon {
			&.i-thumbs-up {
				background-position: -41px -60px;
			}
			
			&.i-new {
				background-position: -77px -60px;
			}
			
			&.i-flash {
				background-position: -110px -60px;
			}
			
			&.i-hit {
				background-position: -142px -60px;
			}
		}
		
		.carousel-indicators {
			bottom: -30px;
		}
	}
}