.popup-window {
	&-content {
		img {
			height: 400px !important;
		}
		
		p {
			margin: 9pt 0;
		}
		
		div {
			width: 100% !important;
			margin-right: 0 !important;
			margin-left: 0 !important;
		}
	}
	
	&-right-column {
		width: 5px !important;
	}
	
	&-buttons {
	
		.col-sm-4 {
			width: auto !important;
			float: none !important;
		}
		
		.bx_bt_button {
			display: inline-block;
			margin-bottom: 0;
			font-weight: 400;
			text-align: center;
			vertical-align: middle;
			cursor: pointer;
			background-image: none;
			white-space: nowrap;
			padding: 6px 15px;
			font-size: 10.5pt;
			line-height: 1.72857143;
			border: 2px solid @darken-brand-primary;
			text-shadow: none;
			box-shadow: none;
			font-size: @font-size-small;
			border-radius: 0;
			background: #fff;
			color: @darken-brand-primary;
			.bj-transition( all );
			
			&:hover,
			&:active,
			&:focus {
				outline: none;
				background: @brand-primary;
				color: #fff;
				border-color: @brand-primary;
			}
		}
	}
}