@import url( "bx.gallery.less" );
@import url( "gallery.less" );

@import url( "bx.counter.less" );
@import url( "counter.less" );

@import url( "colors-size.less" );

//-----//

.bj-price.i-size-L {
	height: auto;
	
	.text-large {
		font-size: 26pt;
		line-height: normal;
	}
	
	.text-small {
		font-size: 10.5pt;
	}
}

.bj-cart-button {
	margin-bottom: 10px;
}