<link href="/components/bx.sale.basket.basket/style.css" rel="stylesheet">

<div id="warning_message"></div>

<form method="post" action="/personal/cart/" name="basket_form" id="basket_form">
  <div id="basket_form_container">
    <div class="bx_ordercart">
      <div class="bx_sort_container"> <span>Товары в корзине:</span> <a href="javascript:void(0)" id="basket_toolbar_button" class="current" onclick="showBasketItemsList()">Готовые к заказу
        <div id="normal_count" class="flat" style="display:none">&nbsp;(2)</div>
        </a> <a href="javascript:void(0)" id="basket_toolbar_button_delayed" onclick="showBasketItemsList(2)" style="display:none">Отложенные
        <div id="delay_count" class="flat">&nbsp;(0)</div>
        </a> <a href="javascript:void(0)" id="basket_toolbar_button_subscribed" onclick="showBasketItemsList(3)" style="display:none">Ожидаемые
        <div id="subscribe_count" class="flat">&nbsp;(0)</div>
        </a> <a href="javascript:void(0)" id="basket_toolbar_button_not_available" onclick="showBasketItemsList(4)" style="display:none">Отсутствуют
        <div id="not_available_count" class="flat">&nbsp;(0)</div>
        </a> </div>
      <div id="basket_items_list">
        <div class="bx_ordercart_order_table_container">
          <table id="basket_items">
            <thead>
              <tr>
                <td class="margin"></td>
                <td class="item" colspan="2" id="col_NAME"> Товары </td>
                <td class="custom" id="col_DISCOUNT"> Скидка </td>
                <td class="price" id="col_PRICE"> Цена </td>
                <td class="custom" id="col_QUANTITY"> Количество </td>
                <td class="custom" id="col_SUM"> Сумма </td>
                <td class="custom"></td>
                <td class="margin"></td>
              </tr>
            </thead>
            <tbody>
              <tr id="45">
                <td class="margin"></td>
                <td class="itemphoto"><div class="bx_ordercart_photo_container"> <a href="/catalog/shtany/bryuki/">
                    <div class="bx_ordercart_photo" style="background-image:url('/upload/resize_cache/iblock/028/110_110_1/028f0b0b83fc294adb19c97da7864354.jpg')"></div>
                    </a> </div></td>
                <td class="item"><h2 class="bx_ordercart_itemtitle"> <a href="/catalog/shtany/bryuki/"> Брюки </a> </h2>
                  <div class="bx_ordercart_itemart"> </div>
									
<div class="bx_item_detail_scu_small_noadaptive full"> <span class="bx_item_section_name_gray"> Цвет: </span>
  <div class="bx_scu_scroller_container">
    <div class="bx_scu">
      <ul id="prop_COLOR_REF_88" style="width: 200%; margin-left:0%;" class="sku_prop_list">
        <li style="width:10%;" class="sku_prop bx_active" data-value-id="purple" data-element="88" data-property="COLOR_REF"> <a href="javascript:void(0);"> <span style="background-image:url(http://bejetstore.2px.ru/upload/uf/1de/1deba7c856fe04057807740af6c5b532.jpg)"></span> </a> </li>
        <li style="width:10%;" class="sku_prop " data-value-id="brown" data-element="88" data-property="COLOR_REF"> <a href="javascript:void(0);"> <span style="background-image:url(http://bejetstore.2px.ru/upload/uf/dc0/dc0e3e4b39b17df6eff196f15b4f9faa.jpg)"></span> </a> </li>
        <li style="width:10%;" class="sku_prop " data-value-id="see" data-element="88" data-property="COLOR_REF"> <a href="javascript:void(0);"> <span style="background-image:url(http://bejetstore.2px.ru/upload/uf/684/684f8b8c86ee2ce1cf7e4e6bc84dff6d.jpg)"></span> </a> </li>
        <li style="width:10%;" class="sku_prop " data-value-id="blue" data-element="88" data-property="COLOR_REF"> <a href="javascript:void(0);"> <span style="background-image:url(http://bejetstore.2px.ru/upload/uf/98b/98b11f09482cee0c643bbbe1a4e58d4d.jpg)"></span> </a> </li>
        <li style="width:10%;" class="sku_prop " data-value-id="orangered" data-element="88" data-property="COLOR_REF"> <a href="javascript:void(0);"> <span style="background-image:url(http://bejetstore.2px.ru/upload/uf/e1f/e1f747aeffef26ce3c1a707fcebc54da.jpg)"></span> </a> </li>
        <li style="width:10%;" class="sku_prop " data-value-id="redblue" data-element="88" data-property="COLOR_REF"> <a href="javascript:void(0);"> <span style="background-image:url(http://bejetstore.2px.ru/upload/uf/2f6/2f6b1c8547c81e73d42ac147d2afbf7c.jpg)"></span> </a> </li>
        <li style="width:10%;" class="sku_prop " data-value-id="red" data-element="88" data-property="COLOR_REF"> <a href="javascript:void(0);"> <span style="background-image:url(http://bejetstore.2px.ru/upload/uf/e74/e744340bc3023cad627f9c44df7c29f6.jpg)"></span> </a> </li>
        <li style="width:10%;" class="sku_prop " data-value-id="green" data-element="88" data-property="COLOR_REF"> <a href="javascript:void(0);"> <span style="background-image:url(http://bejetstore.2px.ru/upload/uf/831/8319a02ed187f0b06f8592febae5f68e.jpg)"></span> </a> </li>
        <li style="width:10%;" class="sku_prop " data-value-id="white" data-element="88" data-property="COLOR_REF"> <a href="javascript:void(0);"> <span style="background-image:url(http://bejetstore.2px.ru/upload/uf/6f1/6f18837665ac5ea75dd0abc3ed6aa3cb.jpg)"></span> </a> </li>
        <li style="width:10%;" class="sku_prop " data-value-id="black" data-element="88" data-property="COLOR_REF"> <a href="javascript:void(0);"> <span style="background-image:url(http://bejetstore.2px.ru/upload/uf/ddc/ddc4adb00f934285f0d7e81d1a29363e.jpg)"></span> </a> </li>
        <li style="width:10%;" class="sku_prop " data-value-id="pink" data-element="88" data-property="COLOR_REF"> <a href="javascript:void(0);"> <span style="background-image:url(http://bejetstore.2px.ru/upload/uf/440/44019e321ce5ac6f89ca00d2bbe2fb08.jpg)"></span> </a> </li>
        <li style="width:10%;" class="sku_prop " data-value-id="azure" data-element="88" data-property="COLOR_REF"> <a href="javascript:void(0);"> <span style="background-image:url(http://bejetstore.2px.ru/upload/uf/9c5/9c5f68b0e79cde0c10f9b455830c50bd.jpg)"></span> </a> </li>
      </ul>
    </div>
    <div class="bx_slide_left" onclick="leftScroll('COLOR_REF', 88);"></div>
    <div class="bx_slide_right" onclick="rightScroll('COLOR_REF', 88);"></div>
  </div>
</div>

                  <div class="bx_item_detail_scu_small_noadaptive "> <span class="bx_item_section_name_gray"> Цвет: </span>
                    <div class="bx_scu_scroller_container">
                      <div class="bx_scu">
											
                        <ul id="prop_COLOR_REF_45" style="width: 200%; margin-left:0%;" class="sku_prop_list">
                          <li style="width:10%;" class="sku_prop bx_active" data-value-id="black" data-element="45" data-property="COLOR_REF"> <a href="javascript:void(0);"> <span style="background-image:url(/upload/uf/ddc/ddc4adb00f934285f0d7e81d1a29363e.jpg)"></span> </a> </li>
                        </ul>
												
                      </div>
                      <div class="bx_slide_left" onclick="leftScroll('COLOR_REF', 45, 1);"></div>
                      <div class="bx_slide_right" onclick="rightScroll('COLOR_REF', 45, 1);"></div>
                    </div>
                  </div>
									
<div class="bx_item_detail_size_small_noadaptive full"> <span class="bx_item_section_name_gray"> Размеры обуви: </span>
  <div class="bx_size_scroller_container">
    <div class="bx_size">
      <ul id="prop_SIZES_SHOES_74" style="width: 200%; margin-left:0%;" class="sku_prop_list">
        <li style="width:10%;" class="sku_prop bx_active" data-value-id="35" data-element="74" data-property="SIZES_SHOES"> <a href="javascript:void(0);">35</a> </li>
        <li style="width:10%;" class="sku_prop " data-value-id="36" data-element="74" data-property="SIZES_SHOES"> <a href="javascript:void(0);">36</a> </li>
        <li style="width:10%;" class="sku_prop " data-value-id="37" data-element="74" data-property="SIZES_SHOES"> <a href="javascript:void(0);">37</a> </li>
        <li style="width:10%;" class="sku_prop " data-value-id="38" data-element="74" data-property="SIZES_SHOES"> <a href="javascript:void(0);">38</a> </li>
        <li style="width:10%;" class="sku_prop " data-value-id="39" data-element="74" data-property="SIZES_SHOES"> <a href="javascript:void(0);">39</a> </li>
        <li style="width:10%;" class="sku_prop " data-value-id="40" data-element="74" data-property="SIZES_SHOES"> <a href="javascript:void(0);">40</a> </li>
      </ul>
    </div>
    <div class="bx_slide_left" onClick="leftScroll('SIZES_SHOES', 74);"></div>
    <div class="bx_slide_right" onClick="rightScroll('SIZES_SHOES', 74);"></div>
  </div>
</div>

                  <div class="bx_item_detail_size_small_noadaptive "> <span class="bx_item_section_name_gray"> Размеры одежды : </span>
                    <div class="bx_size_scroller_container">
                      <div class="bx_size">
											
                        <ul id="prop_SIZES_CLOTHES_72" style="width: 200%; margin-left:0%;" class="sku_prop_list">
													<li style="width:10%;" class="sku_prop " data-value-id="L" data-element="72" data-property="SIZES_CLOTHES"> <a href="javascript:void(0);">40/42</a> </li>
													<li style="width:10%;" class="sku_prop " data-value-id="XL" data-element="72" data-property="SIZES_CLOTHES"> <a href="javascript:void(0);">42/44</a> </li>
													<li style="width:10%;" class="sku_prop bx_active" data-value-id="XXL" data-element="72" data-property="SIZES_CLOTHES"> <a href="javascript:void(0);">44/46</a> </li>
													<li style="width:10%;" class="sku_prop " data-value-id="L" data-element="72" data-property="SIZES_CLOTHES"> <a href="javascript:void(0);">46/48</a> </li>
													<li style="width:10%;" class="sku_prop " data-value-id="XL" data-element="72" data-property="SIZES_CLOTHES"> <a href="javascript:void(0);">48/50</a> </li>
													<li style="width:10%;" class="sku_prop bx_active" data-value-id="XXL" data-element="72" data-property="SIZES_CLOTHES"> <a href="javascript:void(0);">50/52</a> </li>
													<li style="width:10%;" class="sku_prop " data-value-id="L" data-element="72" data-property="SIZES_CLOTHES"> <a href="javascript:void(0);">40/42</a> </li>
													<li style="width:10%;" class="sku_prop " data-value-id="XL" data-element="72" data-property="SIZES_CLOTHES"> <a href="javascript:void(0);">42/44</a> </li>
													<li style="width:10%;" class="sku_prop bx_active" data-value-id="XXL" data-element="72" data-property="SIZES_CLOTHES"> <a href="javascript:void(0);">44/46</a> </li>
													<li style="width:10%;" class="sku_prop " data-value-id="L" data-element="72" data-property="SIZES_CLOTHES"> <a href="javascript:void(0);">46/48</a> </li>
													<li style="width:10%;" class="sku_prop " data-value-id="XL" data-element="72" data-property="SIZES_CLOTHES"> <a href="javascript:void(0);">48/50</a> </li>
													<li style="width:10%;" class="sku_prop bx_active" data-value-id="XXL" data-element="72" data-property="SIZES_CLOTHES"> <a href="javascript:void(0);">50/52</a> </li>
												</ul>

												
                      </div>
                      <div class="bx_slide_left" onclick="leftScroll('SIZES_CLOTHES', 45, 3);"></div>
                      <div class="bx_slide_right" onclick="rightScroll('SIZES_CLOTHES', 45, 3);"></div>
                    </div>
                  </div></td>
                <td class="custom"><span>Скидка:</span>
                  <div id="discount_value_45">30%</div></td>
                <td class="price"><div class="current_price" id="current_price_45"> 1 399.30 руб. </div>
                  <div class="old_price" id="old_price_45"> 1 999 руб. </div></td>
                <td class="custom"><span>Количество:</span>
                  <div class="centered">
                    <table cellspacing="0" cellpadding="0" class="counter">
                      <tbody>
                        <tr>
                          <td><input type="text" size="3" id="QUANTITY_INPUT_45" name="QUANTITY_INPUT_45" maxlength="18" min="0" max="100" step="1" style="max-width: 50px" value="3" onchange="updateQuantity('QUANTITY_INPUT_45', '45', 1, false)">
                          </td>
                          <td id="basket_quantity_control"><div class="basket_quantity_control"> <a href="javascript:void(0);" class="plus" onclick="setQuantity(45, 1, 'up', false);"></a> <a href="javascript:void(0);" class="minus" onclick="setQuantity(45, 1, 'down', false);"></a> </div></td>
                          <td style="text-align: left">шт</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <input type="hidden" id="QUANTITY_45" name="QUANTITY_45" value="3">
                </td>
                <td class="custom"><span>Сумма:</span>
                  <div id="sum_45"> 4 197.90 руб. </div></td>
                <td class="control"><a href="/personal/cart/?action=delete&amp;id=45">Удалить</a><br>
                  <a href="/personal/cart/?action=delay&amp;id=45">Отложить</a> </td>
                <td class="margin"></td>
              </tr>
              <tr id="46">
                <td class="margin"></td>
                <td class="itemphoto"><div class="bx_ordercart_photo_container"> <a href="/catalog/kurtki/zhaket/">
                    <div class="bx_ordercart_photo" style="background-image:url('/upload/resize_cache/iblock/56e/110_110_1/56e18d2ca194b6fe5be42dd33f685ee1.jpg')"></div>
                    </a> </div></td>
                <td class="item"><h2 class="bx_ordercart_itemtitle"> <a href="/catalog/kurtki/zhaket/"> Жакет </a> </h2>
                  <div class="bx_ordercart_itemart"> </div>
                  <div class="bx_item_detail_size_small_noadaptive "> <span class="bx_item_section_name_gray"> Размеры одежды : </span>
                    <div class="bx_size_scroller_container">
                      <div class="bx_size">
                        <ul id="prop_SIZES_CLOTHES_46" style="width: 200%; margin-left:0%;" class="sku_prop_list">
                          <li style="width:10%;" class="sku_prop bx_active" data-value-id="S" data-element="46" data-property="SIZES_CLOTHES"> <a href="javascript:void(0);">S</a> </li>
                          <li style="width:10%;" class="sku_prop " data-value-id="M" data-element="46" data-property="SIZES_CLOTHES"> <a href="javascript:void(0);">M</a> </li>
                          <li style="width:10%;" class="sku_prop " data-value-id="L" data-element="46" data-property="SIZES_CLOTHES"> <a href="javascript:void(0);">L</a> </li>
                        </ul>
                      </div>
                      <div class="bx_slide_left" onclick="leftScroll('SIZES_CLOTHES', 46, 3);"></div>
                      <div class="bx_slide_right" onclick="rightScroll('SIZES_CLOTHES', 46, 3);"></div>
                    </div>
                  </div></td>
                <td class="custom"><span>Скидка:</span>
                  <div id="discount_value_46">0%</div></td>
                <td class="price"><div class="current_price" id="current_price_46"> 7 000 руб. </div>
                  <div class="old_price" id="old_price_46"> </div></td>
                <td class="custom"><span>Количество:</span>
                  <div class="centered">
                    <table cellspacing="0" cellpadding="0" class="counter">
                      <tbody>
                        <tr>
                          <td><input type="text" size="3" id="QUANTITY_INPUT_46" name="QUANTITY_INPUT_46" maxlength="18" min="0" max="0" step="0" style="max-width: 50px" value="1" onchange="updateQuantity('QUANTITY_INPUT_46', '46', 0, false)">
                          </td>
                          <td id="basket_quantity_control"><div class="basket_quantity_control"> <a href="javascript:void(0);" class="plus" onclick="setQuantity(46, 1, 'up', false);"></a> <a href="javascript:void(0);" class="minus" onclick="setQuantity(46, 1, 'down', false);"></a> </div></td>
                          <td style="text-align: left">шт</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <input type="hidden" id="QUANTITY_46" name="QUANTITY_46" value="1">
                </td>
                <td class="custom"><span>Сумма:</span>
                  <div id="sum_46"> 7 000 руб. </div></td>
                <td class="control"><a href="/personal/cart/?action=delete&amp;id=46">Удалить</a><br>
                  <a href="/personal/cart/?action=delay&amp;id=46">Отложить</a> </td>
                <td class="margin"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <input type="hidden" id="column_headers" value="NAME,DISCOUNT,PRICE,QUANTITY,SUM,PROPS,DELETE,DELAY">
        <input type="hidden" id="offers_props" value="SIZES_SHOES,SIZES_CLOTHES,COLOR_REF">
        <input type="hidden" id="action_var" value="action">
        <input type="hidden" id="quantity_float" value="N">
        <input type="hidden" id="count_discount_4_all_quantity" value="N">
        <input type="hidden" id="price_vat_show_value" value="Y">
        <input type="hidden" id="hide_coupon" value="N">
        <input type="hidden" id="coupon_approved" value="N">
        <input type="hidden" id="use_prepayment" value="N">
        <div class="bx_ordercart_order_pay">
          <div class="bx_ordercart_order_pay_left">
            <div class="bx_ordercart_coupon"> <span>Введите код купона для скидки:</span>
              <input type="text" id="coupon" name="COUPON" value="" onchange="enterCoupon();" size="21" class="">
            </div>
          </div>
          <div class="bx_ordercart_order_pay_right">
            <table class="bx_ordercart_order_sum">
              <tbody>
                <tr>
                  <td>Товаров на:</td>
                  <td id="allSum_wVAT_FORMATED">11 197.90 руб.</td>
                </tr>
                <tr>
                  <td>В том числе НДС:</td>
                  <td id="allVATSum_FORMATED">0 руб.</td>
                </tr>
                <tr>
                  <td class="fwb">Итого:</td>
                  <td class="fwb" id="allSum_FORMATED">11&nbsp;197.90&nbsp;руб.</td>
                </tr>
                <tr>
                  <td class="custom_t1"></td>
                  <td class="custom_t2" style="text-decoration:line-through; color:#828282;" id="PRICE_WITHOUT_DISCOUNT"> 12 997 руб. </td>
                </tr>
              </tbody>
            </table>
            <div style="clear:both;"></div>
          </div>
          <div style="clear:both;"></div>
					
					<!-- add btn btn-default classes -->
          <div class="bx_ordercart_order_pay_center"> <a href="javascript:void(0)" onclick="checkOut();" class="checkout btn btn-default">Оформить заказ</a> </div>
					<!-- end -->
					
        </div>
      </div>
      <div id="basket_items_delayed" class="bx_ordercart_order_table_container" style="display:none">
        <table id="delayed_items">
          <thead>
            <tr>
              <td class="margin"></td>
              <td class="item" colspan="2"> Товары </td>
              <td class="custom"> Скидка </td>
              <td class="price"> Цена </td>
              <td class="custom"> Количество </td>
              <td class="custom"> Сумма </td>
              <td class="custom"></td>
              <td class="margin"></td>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div id="basket_items_subscribed" class="bx_ordercart_order_table_container" style="display:none">
        <table>
          <thead>
            <tr>
              <td class="margin"></td>
              <td class="item" colspan="2"> Товары </td>
              <td class="custom"> Скидка </td>
              <td class="price"> Цена </td>
              <td class="custom"> Количество </td>
              <td class="custom"> Сумма </td>
              <td class="custom"></td>
              <td class="margin"></td>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div id="basket_items_not_available" class="bx_ordercart_order_table_container" style="display:none">
        <table>
          <thead>
            <tr>
              <td class="margin"></td>
              <td class="item" colspan="2"> Товары </td>
              <td class="price"> Цена </td>
              <td class="custom"> Количество </td>
              <td class="custom"></td>
              <td class="margin"></td>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <input type="hidden" name="BasketOrder" value="BasketOrder">
  <!-- <input type="hidden" name="ajax_post" id="ajax_post" value="Y"> -->
</form>