@import url("../../../template/css/less/components-import.less");
@import url("bx.style_cart.less");

#order_form_content {
	.label {
		color: @text-color;
		font-size: @font-size-small;
	}
}

.bx_ordercart .bx_ordercart_order_table_container {
	
	& {
		border: 3px solid @gray-lightest;
		font-size: 10.5pt;
		
		thead tr td {
			background: @gray-lightest;
			border-bottom: 0;
		}
		
		tbody tr td {
			font-size: 10.5pt;
		}
		
		thead,
		tbody {
			tr td a {
				color: @link-color;
				font-size: 10.5pt;
				
				&:hover {
					color: @link-hover-color;
				}
				
				&.btn-default {
					color: @darken-brand-primary;
					
					&:hover {
						color: #fff;
					}
				}
			}
		}
	}
		
	tbody tr td[colspan="2"] {
		background: @gray-lightest;
	}
}

.bx_ordercart .bx_ordercart_order_pay {
	padding: 0;
}

.bx_order_make .bx_block {
	padding: 0;
}

.bx_ordercart_order_pay_center {
	span,
	a {
		line-height: 53px;
	}
	
	.checkout{
		position: static;
		top: 0;
		display:inline-block;
		padding: 6px 14px;
		border-radius: 0;
		vertical-align: top;
		text-decoration:n one;
		text-shadow: none;
		font-weight: 400;
		line-height: @line-height-base;
		
		
		border: 2px solid @darken-brand-primary;
		text-shadow: none;
		box-shadow: none;
		font-size: @font-size-small;
		background: #fff;
		color: @darken-brand-primary;
		.bj-transition( all );
		
		&:hover,
		&:active,
		&:focus {
			outline: none;
			background: @brand-primary;
			color: #fff;
			border-color: @brand-primary;
		}
	}
}