<link href="/components/bx.catalog.section/style.css" rel="stylesheet">

<div class="bx_catalog_top_home">

	<div class="row">
		
		<div class="col-sm-3">
		
			<div class="bx_catalog_item double bj-ce-no-scu">
				<div class="bx_catalog_item_container" id="bx_1891167135_6">
				
					<div class="bj-product-card__wrapper">
						<a href="/catalogue/group/group/item/" class="bj-product-card__img__shutter"><i></i></a>
						<a id="bx_1891167135_6_pict" href="/catalog/pants/pants-flower-glade/" class="bx_catalog_item_images" style="background-image: url(http://demo.bejetstore.2px.ru/upload/iblock/82a/82aeb4ff7ed300b9c7da01bf882bf49f.jpg);" title="Штаны цветочная поляна в комплекте с чёрной футболкой">
						<div id="bx_1891167135_6_dsc_perc" class="bx_stick_disc right bottom" style="display: none;">-0%</div></a> 
					
						<a id="bx_1891167135_6_secondpict" href="/catalog/pants/pants-flower-glade/" class="bx_catalog_item_images_double" style="background-image: url(http://demo.bejetstore.2px.ru/upload/iblock/25b/25b9984ea810c186ef1cbcd5fa1659b0.jpg);" title="Штаны цветочная поляна в комплекте с чёрной футболкой">
						<div id="bx_1891167135_6_second_dsc_perc" class="bx_stick_disc right bottom" style="display: none;">-0%</div>
						</a>
					
						<div class="i-relative">
							<div class="bj-product-card__info">
								<span class="bj-product-card__info__i i-discount">-30%</span>
								<span class="i-sep"></span>
								<span class="bj-product-card__info__i i-new">Новинка</span>
							</div>
						</div>
					
					</div>
			
					<!--<div class="i-relative">
						<span class="bj-product-card__label">
							<span class="bj-product-card__label__content"><span>В наличии: 1 шт. dasdsadsadsadsads</span></span>
						</span>
					</div>-->
					
					<div class="bj-product-card__wrapper">
						<div class="bj-product-card__title bj-table bx_catalog_item_title">
							<div class="bj-table-row">
								<div class="bj-table-cell">
									<span class="bj-product-card__title__wrapper">
										<a href="/catalogue/group/group/item/">Штаны цветочная поляна в комплекте с чёрной футболкой</a>
									</span>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row bj-product-card__cart">
						<div class="col-xs-6 bj-product-card__price bj-price bx_catalog_item_price">
							<div id="bx_1891167135_6_price" class="text-large text-info bx_price">3 450 р.</div>
							<div class="text-small"><s>3 450 р.</s></div>
						</div>
						<div class="col-xs-6">
							<a id="bx_1891167135_6_buy_link" class="btn btn-default hidden-xs" href="javascript:void(0)" rel="nofollow">Купить</a>
							<a class="btn btn-default visible-xs-inline-block" href="/catalogue/group/group/item/">Купить</a>
						</div>
					</div>
					
					<div class="bx_catalog_item_controls no_touch">
						<span class="bx_catalog_item_controls__wrapper">
							<a id="bx_1891167135_6_quant_down" href="javascript:void(0)" class="bx_bt_button_type_2 bx_small" rel="nofollow">-</a>
							<input type="text" class="bx_col_input" id="bx_1891167135_6_quantity" name="quantity" value="1">
							<a id="bx_1891167135_6_quant_up" href="javascript:void(0)" class="bx_bt_button_type_2 bx_small" rel="nofollow">+</a>
						</span>
					</div>
					
					<div class="bx_catalog_item_articul">
						<span id="bx_1891167135_6_sku_prop">
						Артикул <strong>177-79-19</strong></span>
					</div>
					
					<div class="bx_catalog_item_scu" id="bx_1891167135_6_sku_tree">
						<div class="bj-product-card__wrapper">
							<div class="bx_item_detail_scu" id="bx_1891167135_6_prop_31_cont"> <span class="bx_item_section_name_gray">Цвет</span>
								<div class="bx_scu_scroller_container">
									<div class="bx_scu">
										<ul id="bx_1891167135_6_prop_31_list" style="width: 100%; margin-left: 0%;">
										
											<li data-treevalue="31_1" data-onevalue="1" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Фиолетовый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/upload/uf/1cd/1cd17208b7eb4c64891759acc68bf9ff.jpg');" title="Фиолетовый"></span></span>
											</li>
											
											<li data-treevalue="31_2" data-onevalue="2" style="width: 20%; padding-top: 20%;" class="bx_missing">
<i title="Коричневый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/e77/e7783ed68096cdfb4af1b42d60d7dc47.jpg');" title="Коричневый"></span></span></li>

											<li data-treevalue="31_3" data-onevalue="3" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Морской волны"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/eec/eec52aa295b66d0c2db41fd99ef28245.jpg');" title="Морской волны"></span></span>
											</li>
											
											<li data-treevalue="31_4" data-onevalue="4" style="width: 20%; padding-top: 20%; display: none;" class="bx_missing"><i title="Оранжевый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/440/4407a468fa6db78bbb29f254186c2f11.jpg');" title="Оранжевый"></span></span>
											</li>
											
											<li data-treevalue="31_5" data-onevalue="5" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Красный"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/733/73358ff3771049e96a9b476157b07799.jpg');" title="Красный"></span></span>
											</li>
											
											<li data-treevalue="31_6" data-onevalue="6" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Синий"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/b0c/b0cf0e8f242237cb78bca043b0cb4125.jpg');" title="Синий"></span></span>
											</li>
											
											<li data-treevalue="31_7" data-onevalue="7" style="width: 20%; padding-top: 20%;" class="bx_active"><i title="Зеленый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/536/536b2a490f90f4bd4d9d606eb7c660c0.jpg');" title="Зеленый"></span></span>
											</li>
											
											<li data-treevalue="31_8" data-onevalue="8" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Зеленый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/52b/52b90aecc42f223729ea9213376c11e7.jpg');" title="Зеленый"></span></span></li>
											
											<li data-treevalue="31_9" data-onevalue="9" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Белый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/52b/52b90aecc42f223729ea9213376c11e7.jpg');" title="Белый"></span></span></li>
											
											<li data-treevalue="31_10" data-onevalue="10" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Черный"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/36f/36fcb3df2e8da6e5dd1dae666cb3b19a.jpg');" title="Черный"></span></span></li>
											
											<li data-treevalue="31_11" data-onevalue="11" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Розовый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/f66/f663d30251822a79cdc56866efa007cd.jpg');" title="Розовый"></span></span></li>
											
											<li data-treevalue="31_12" data-onevalue="12" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Голубой"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/3c5/3c5b493d3077a15404120145b47f0562.jpg');" title="Голубой"></span></span></li>
											
											<li data-treevalue="31_13" data-onevalue="13" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Синий"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/aa6/aa69a99689dbf6d14acd52b7f03225d5.jpg');" title="Синий"></span></span></li>
											
											<li data-treevalue="31_14" data-onevalue="14" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Цветочек"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/319/319539715b3d1ae25c873ff765f4a78c.jpg');" title="Цветочек"></span></span></li>
											
											<li data-treevalue="31_0" data-onevalue="0" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="-"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('/bitrix/components/bitrix/catalog.top/templates/.default/images/no_photo.png');" title="-"></span></span></li>
										</ul>
									</div>
									<div class="bx_slide_left" id="bx_1891167135_6_prop_31_left" data-treevalue="31" style="display: none;"></div>
									<div class="bx_slide_right" id="bx_1891167135_6_prop_31_right" data-treevalue="31" style="display: none;"></div>
								</div>
							</div>
						</div>
						<div>
							<div class="bx_item_detail_size" id="bx_1891167135_6_prop_30_cont">
								<!--heading changed-->
								<span class="bx_item_section_name_gray">Размер</span>
								<div class="bx_size_scroller_container">
									<div class="bx_size">
										<ul id="bx_1891167135_6_prop_30_list" style="width: 100%; margin-left: 0%;">
											<li data-treevalue="30_10" data-onevalue="10" style="width: 20%;" class="bx_active"><i></i><span class="cnt">40/42</span></li>
											<li data-treevalue="30_11" data-onevalue="11" style="width: 20%;" class=""><i></i><span class="cnt">42/44</span></li>
											<li data-treevalue="30_12" data-onevalue="12" style="width: 20%;" class=""><i></i><span class="cnt">44/46</span></li>
											<li data-treevalue="30_13" data-onevalue="13" style="width: 20%;" class=""><i></i><span class="cnt">46/48</span></li>
											<li data-treevalue="30_14" data-onevalue="14" style="width: 20%;" class=""><i></i><span class="cnt">48/50</span></li>
											<li data-treevalue="30_15" data-onevalue="15" style="width: 20%; display: none;" class="bx_missing"><i></i><span class="cnt">50/52</span></li>
											<li data-treevalue="30_16" data-onevalue="16" style="width: 20%; display: none;" class="bx_missing"><i></i><span class="cnt">52/54</span></li>
											<li data-treevalue="30_0" data-onevalue="0" style="width: 20%; display: none;" class="bx_missing"><i></i><span class="cnt">-</span></li>
										</ul>
									</div>
									<div class="bx_slide_left" id="bx_1891167135_6_prop_30_left" data-treevalue="30" style="display: none;"></div>
									<div class="bx_slide_right" id="bx_1891167135_6_prop_30_right" data-treevalue="30" style="display: none;"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-sm-3">
		
			<div class="bx_catalog_item double">
				<div class="bx_catalog_item_container" id="bx_1891167135_6">
				
					<div class="bj-product-card__wrapper">
						<a href="/catalogue/group/group/item/" class="bj-product-card__img__shutter"><i></i></a>
						<a id="bx_1891167135_6_pict" href="/catalog/pants/pants-flower-glade/" class="bx_catalog_item_images" style="background-image: url(http://demo.bejetstore.2px.ru/upload/iblock/82a/82aeb4ff7ed300b9c7da01bf882bf49f.jpg);" title="Штаны цветочная поляна в комплекте с чёрной футболкой">
						<div id="bx_1891167135_6_dsc_perc" class="bx_stick_disc right bottom" style="display: none;">-0%</div></a> 
					
						<a id="bx_1891167135_6_secondpict" href="/catalog/pants/pants-flower-glade/" class="bx_catalog_item_images_double" style="background-image: url(http://demo.bejetstore.2px.ru/upload/iblock/25b/25b9984ea810c186ef1cbcd5fa1659b0.jpg);" title="Штаны цветочная поляна в комплекте с чёрной футболкой">
						<div id="bx_1891167135_6_second_dsc_perc" class="bx_stick_disc right bottom" style="display: none;">-0%</div>
						</a>
					
						<div class="i-relative">
							<div class="bj-product-card__info">
								<span class="bj-product-card__info__i i-discount">-30%</span>
								<span class="i-sep"></span>
								<span class="bj-product-card__info__i i-new">Новинка</span>
							</div>
						</div>
					
					</div>
			
					<!--<div class="i-relative">
						<span class="bj-product-card__label">
							<span class="bj-product-card__label__content"><span>В наличии: 1 шт. dasdsadsadsadsads</span></span>
						</span>
					</div>-->
					
					<div class="bj-product-card__wrapper">
						<div class="bj-product-card__title bj-table bx_catalog_item_title">
							<div class="bj-table-row">
								<div class="bj-table-cell">
									<span class="bj-product-card__title__wrapper">
										<a href="/catalogue/group/group/item/">Штаны цветочная поляна в комплекте с чёрной футболкой</a>
									</span>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row bj-product-card__cart">
						<div class="col-xs-6 bj-product-card__price bj-price bx_catalog_item_price">
							<div id="bx_1891167135_6_price" class="text-large text-info bx_price">3 450 р.</div>
							<div class="text-small"><s>3 450 р.</s></div>
						</div>
						<div class="col-xs-6">
							<a id="bx_1891167135_6_buy_link" class="btn btn-default hidden-xs" href="javascript:void(0)" rel="nofollow">Купить</a>
							<a class="btn btn-default visible-xs-inline-block" href="/catalogue/group/group/item/">Купить</a>
						</div>
					</div>
					
					<div class="bx_catalog_item_controls no_touch">
						<span class="bx_catalog_item_controls__wrapper">
							<a id="bx_1891167135_6_quant_down" href="javascript:void(0)" class="bx_bt_button_type_2 bx_small" rel="nofollow">-</a>
							<input type="text" class="bx_col_input" id="bx_1891167135_6_quantity" name="quantity" value="1">
							<a id="bx_1891167135_6_quant_up" href="javascript:void(0)" class="bx_bt_button_type_2 bx_small" rel="nofollow">+</a>
						</span>
					</div>
					
					<div class="bx_catalog_item_articul">
						<span id="bx_1891167135_6_sku_prop">
						Артикул <strong>177-79-19</strong></span>
					</div>
					
					<div class="bx_catalog_item_scu" id="bx_1891167135_6_sku_tree">
						<div class="bj-product-card__wrapper">
							<div class="bx_item_detail_scu" id="bx_1891167135_6_prop_31_cont"> <span class="bx_item_section_name_gray">Цвет</span>
								<div class="bx_scu_scroller_container">
									<div class="bx_scu">
										<ul id="bx_1891167135_6_prop_31_list" style="width: 100%; margin-left: 0%;">
										
											<li data-treevalue="31_1" data-onevalue="1" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Фиолетовый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/upload/uf/1cd/1cd17208b7eb4c64891759acc68bf9ff.jpg');" title="Фиолетовый"></span></span>
											</li>
											
											<li data-treevalue="31_2" data-onevalue="2" style="width: 20%; padding-top: 20%;" class="bx_missing">
<i title="Коричневый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/e77/e7783ed68096cdfb4af1b42d60d7dc47.jpg');" title="Коричневый"></span></span></li>

											<li data-treevalue="31_3" data-onevalue="3" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Морской волны"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/eec/eec52aa295b66d0c2db41fd99ef28245.jpg');" title="Морской волны"></span></span>
											</li>
											
											<li data-treevalue="31_4" data-onevalue="4" style="width: 20%; padding-top: 20%; display: none;" class="bx_missing"><i title="Оранжевый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/440/4407a468fa6db78bbb29f254186c2f11.jpg');" title="Оранжевый"></span></span>
											</li>
											
											<li data-treevalue="31_5" data-onevalue="5" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Красный"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/733/73358ff3771049e96a9b476157b07799.jpg');" title="Красный"></span></span>
											</li>
											
											<li data-treevalue="31_6" data-onevalue="6" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Синий"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/b0c/b0cf0e8f242237cb78bca043b0cb4125.jpg');" title="Синий"></span></span>
											</li>
											
											<li data-treevalue="31_7" data-onevalue="7" style="width: 20%; padding-top: 20%;" class="bx_active"><i title="Зеленый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/536/536b2a490f90f4bd4d9d606eb7c660c0.jpg');" title="Зеленый"></span></span>
											</li>
											
											<li data-treevalue="31_8" data-onevalue="8" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Зеленый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/52b/52b90aecc42f223729ea9213376c11e7.jpg');" title="Зеленый"></span></span></li>
											
											<li data-treevalue="31_9" data-onevalue="9" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Белый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/52b/52b90aecc42f223729ea9213376c11e7.jpg');" title="Белый"></span></span></li>
											
											<li data-treevalue="31_10" data-onevalue="10" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Черный"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/36f/36fcb3df2e8da6e5dd1dae666cb3b19a.jpg');" title="Черный"></span></span></li>
											
											<li data-treevalue="31_11" data-onevalue="11" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Розовый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/f66/f663d30251822a79cdc56866efa007cd.jpg');" title="Розовый"></span></span></li>
											
											<li data-treevalue="31_12" data-onevalue="12" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Голубой"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/3c5/3c5b493d3077a15404120145b47f0562.jpg');" title="Голубой"></span></span></li>
											
											<li data-treevalue="31_13" data-onevalue="13" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Синий"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/aa6/aa69a99689dbf6d14acd52b7f03225d5.jpg');" title="Синий"></span></span></li>
											
											<li data-treevalue="31_14" data-onevalue="14" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Цветочек"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/319/319539715b3d1ae25c873ff765f4a78c.jpg');" title="Цветочек"></span></span></li>
											
											<li data-treevalue="31_0" data-onevalue="0" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="-"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('/bitrix/components/bitrix/catalog.top/templates/.default/images/no_photo.png');" title="-"></span></span></li>
										</ul>
									</div>
									<div class="bx_slide_left" id="bx_1891167135_6_prop_31_left" data-treevalue="31" style="display: none;"></div>
									<div class="bx_slide_right" id="bx_1891167135_6_prop_31_right" data-treevalue="31" style="display: none;"></div>
								</div>
							</div>
						</div>
						<div>
							<div class="bx_item_detail_size" id="bx_1891167135_6_prop_30_cont">
								<!--heading changed-->
								<span class="bx_item_section_name_gray">Размер</span>
								<div class="bx_size_scroller_container">
									<div class="bx_size">
										<ul id="bx_1891167135_6_prop_30_list" style="width: 100%; margin-left: 0%;">
											<li data-treevalue="30_10" data-onevalue="10" style="width: 20%;" class="bx_active"><i></i><span class="cnt">40/42</span></li>
											<li data-treevalue="30_11" data-onevalue="11" style="width: 20%;" class=""><i></i><span class="cnt">42/44</span></li>
											<li data-treevalue="30_12" data-onevalue="12" style="width: 20%;" class=""><i></i><span class="cnt">44/46</span></li>
											<li data-treevalue="30_13" data-onevalue="13" style="width: 20%;" class=""><i></i><span class="cnt">46/48</span></li>
											<li data-treevalue="30_14" data-onevalue="14" style="width: 20%;" class=""><i></i><span class="cnt">48/50</span></li>
											<li data-treevalue="30_15" data-onevalue="15" style="width: 20%; display: none;" class="bx_missing"><i></i><span class="cnt">50/52</span></li>
											<li data-treevalue="30_16" data-onevalue="16" style="width: 20%; display: none;" class="bx_missing"><i></i><span class="cnt">52/54</span></li>
											<li data-treevalue="30_0" data-onevalue="0" style="width: 20%; display: none;" class="bx_missing"><i></i><span class="cnt">-</span></li>
										</ul>
									</div>
									<div class="bx_slide_left" id="bx_1891167135_6_prop_30_left" data-treevalue="30" style="display: none;"></div>
									<div class="bx_slide_right" id="bx_1891167135_6_prop_30_right" data-treevalue="30" style="display: none;"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-sm-3">
		
			<div class="bx_catalog_item double">
				<div class="bx_catalog_item_container" id="bx_1891167135_6">
				
					<div class="bj-product-card__wrapper">
						<a href="/catalogue/group/group/item/" class="bj-product-card__img__shutter"><i></i></a>
						<a id="bx_1891167135_6_pict" href="/catalog/pants/pants-flower-glade/" class="bx_catalog_item_images" style="background-image: url(http://demo.bejetstore.2px.ru/upload/iblock/82a/82aeb4ff7ed300b9c7da01bf882bf49f.jpg);" title="Штаны цветочная поляна в комплекте с чёрной футболкой">
						<div id="bx_1891167135_6_dsc_perc" class="bx_stick_disc right bottom" style="display: none;">-0%</div></a> 
					
						<a id="bx_1891167135_6_secondpict" href="/catalog/pants/pants-flower-glade/" class="bx_catalog_item_images_double" style="background-image: url(http://demo.bejetstore.2px.ru/upload/iblock/25b/25b9984ea810c186ef1cbcd5fa1659b0.jpg);" title="Штаны цветочная поляна в комплекте с чёрной футболкой">
						<div id="bx_1891167135_6_second_dsc_perc" class="bx_stick_disc right bottom" style="display: none;">-0%</div>
						</a>
					
						<div class="i-relative">
							<div class="bj-product-card__info">
								<span class="bj-product-card__info__i i-discount">-30%</span>
								<span class="i-sep"></span>
								<span class="bj-product-card__info__i i-new">Новинка</span>
							</div>
						</div>
					
					</div>
			
					<!--<div class="i-relative">
						<span class="bj-product-card__label">
							<span class="bj-product-card__label__content"><span>В наличии: 1 шт. dasdsadsadsadsads</span></span>
						</span>
					</div>-->
					
					<div class="bj-product-card__wrapper">
						<div class="bj-product-card__title bj-table bx_catalog_item_title">
							<div class="bj-table-row">
								<div class="bj-table-cell">
									<span class="bj-product-card__title__wrapper">
										<a href="/catalogue/group/group/item/">Штаны цветочная поляна в комплекте с чёрной футболкой</a>
									</span>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row bj-product-card__cart">
						<div class="col-xs-6 bj-product-card__price bj-price bx_catalog_item_price">
							<div id="bx_1891167135_6_price" class="text-large text-info bx_price">3 450 р.</div>
							<div class="text-small"><s>3 450 р.</s></div>
						</div>
						<div class="col-xs-6">
							<a id="bx_1891167135_6_buy_link" class="btn btn-default hidden-xs" href="javascript:void(0)" rel="nofollow">Купить</a>
							<a class="btn btn-default visible-xs-inline-block" href="/catalogue/group/group/item/">Купить</a>
						</div>
					</div>
					
					<div class="bx_catalog_item_controls no_touch">
						<span class="bx_catalog_item_controls__wrapper">
							<a id="bx_1891167135_6_quant_down" href="javascript:void(0)" class="bx_bt_button_type_2 bx_small" rel="nofollow">-</a>
							<input type="text" class="bx_col_input" id="bx_1891167135_6_quantity" name="quantity" value="1">
							<a id="bx_1891167135_6_quant_up" href="javascript:void(0)" class="bx_bt_button_type_2 bx_small" rel="nofollow">+</a>
						</span>
					</div>
					
					<div class="bx_catalog_item_articul">
						<span id="bx_1891167135_6_sku_prop">
						Артикул <strong>177-79-19</strong></span>
					</div>
					
					<div class="bx_catalog_item_scu" id="bx_1891167135_6_sku_tree">
						<div class="bj-product-card__wrapper">
							<div class="bx_item_detail_scu" id="bx_1891167135_6_prop_31_cont"> <span class="bx_item_section_name_gray">Цвет</span>
								<div class="bx_scu_scroller_container">
									<div class="bx_scu">
										<ul id="bx_1891167135_6_prop_31_list" style="width: 100%; margin-left: 0%;">
										
											<li data-treevalue="31_1" data-onevalue="1" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Фиолетовый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/upload/uf/1cd/1cd17208b7eb4c64891759acc68bf9ff.jpg');" title="Фиолетовый"></span></span>
											</li>
											
											<li data-treevalue="31_2" data-onevalue="2" style="width: 20%; padding-top: 20%;" class="bx_missing">
<i title="Коричневый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/e77/e7783ed68096cdfb4af1b42d60d7dc47.jpg');" title="Коричневый"></span></span></li>

											<li data-treevalue="31_3" data-onevalue="3" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Морской волны"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/eec/eec52aa295b66d0c2db41fd99ef28245.jpg');" title="Морской волны"></span></span>
											</li>
											
											<li data-treevalue="31_4" data-onevalue="4" style="width: 20%; padding-top: 20%; display: none;" class="bx_missing"><i title="Оранжевый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/440/4407a468fa6db78bbb29f254186c2f11.jpg');" title="Оранжевый"></span></span>
											</li>
											
											<li data-treevalue="31_5" data-onevalue="5" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Красный"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/733/73358ff3771049e96a9b476157b07799.jpg');" title="Красный"></span></span>
											</li>
											
											<li data-treevalue="31_6" data-onevalue="6" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Синий"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/b0c/b0cf0e8f242237cb78bca043b0cb4125.jpg');" title="Синий"></span></span>
											</li>
											
											<li data-treevalue="31_7" data-onevalue="7" style="width: 20%; padding-top: 20%;" class="bx_active"><i title="Зеленый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/536/536b2a490f90f4bd4d9d606eb7c660c0.jpg');" title="Зеленый"></span></span>
											</li>
											
											<li data-treevalue="31_8" data-onevalue="8" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Зеленый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/52b/52b90aecc42f223729ea9213376c11e7.jpg');" title="Зеленый"></span></span></li>
											
											<li data-treevalue="31_9" data-onevalue="9" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Белый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/52b/52b90aecc42f223729ea9213376c11e7.jpg');" title="Белый"></span></span></li>
											
											<li data-treevalue="31_10" data-onevalue="10" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Черный"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/36f/36fcb3df2e8da6e5dd1dae666cb3b19a.jpg');" title="Черный"></span></span></li>
											
											<li data-treevalue="31_11" data-onevalue="11" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Розовый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/f66/f663d30251822a79cdc56866efa007cd.jpg');" title="Розовый"></span></span></li>
											
											<li data-treevalue="31_12" data-onevalue="12" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Голубой"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/3c5/3c5b493d3077a15404120145b47f0562.jpg');" title="Голубой"></span></span></li>
											
											<li data-treevalue="31_13" data-onevalue="13" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Синий"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/aa6/aa69a99689dbf6d14acd52b7f03225d5.jpg');" title="Синий"></span></span></li>
											
											<li data-treevalue="31_14" data-onevalue="14" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Цветочек"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/319/319539715b3d1ae25c873ff765f4a78c.jpg');" title="Цветочек"></span></span></li>
											
											<li data-treevalue="31_0" data-onevalue="0" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="-"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('/bitrix/components/bitrix/catalog.top/templates/.default/images/no_photo.png');" title="-"></span></span></li>
										</ul>
									</div>
									<div class="bx_slide_left" id="bx_1891167135_6_prop_31_left" data-treevalue="31" style="display: none;"></div>
									<div class="bx_slide_right" id="bx_1891167135_6_prop_31_right" data-treevalue="31" style="display: none;"></div>
								</div>
							</div>
						</div>
						<div>
							<div class="bx_item_detail_size" id="bx_1891167135_6_prop_30_cont">
								<!--heading changed-->
								<span class="bx_item_section_name_gray">Размер</span>
								<div class="bx_size_scroller_container">
									<div class="bx_size">
										<ul id="bx_1891167135_6_prop_30_list" style="width: 100%; margin-left: 0%;">
											<li data-treevalue="30_10" data-onevalue="10" style="width: 20%;" class="bx_active"><i></i><span class="cnt">40/42</span></li>
											<li data-treevalue="30_11" data-onevalue="11" style="width: 20%;" class=""><i></i><span class="cnt">42/44</span></li>
											<li data-treevalue="30_12" data-onevalue="12" style="width: 20%;" class=""><i></i><span class="cnt">44/46</span></li>
											<li data-treevalue="30_13" data-onevalue="13" style="width: 20%;" class=""><i></i><span class="cnt">46/48</span></li>
											<li data-treevalue="30_14" data-onevalue="14" style="width: 20%;" class=""><i></i><span class="cnt">48/50</span></li>
											<li data-treevalue="30_15" data-onevalue="15" style="width: 20%; display: none;" class="bx_missing"><i></i><span class="cnt">50/52</span></li>
											<li data-treevalue="30_16" data-onevalue="16" style="width: 20%; display: none;" class="bx_missing"><i></i><span class="cnt">52/54</span></li>
											<li data-treevalue="30_0" data-onevalue="0" style="width: 20%; display: none;" class="bx_missing"><i></i><span class="cnt">-</span></li>
										</ul>
									</div>
									<div class="bx_slide_left" id="bx_1891167135_6_prop_30_left" data-treevalue="30" style="display: none;"></div>
									<div class="bx_slide_right" id="bx_1891167135_6_prop_30_right" data-treevalue="30" style="display: none;"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-sm-3">
		
			<div class="bx_catalog_item double">
				<div class="bx_catalog_item_container" id="bx_1891167135_6">
				
					<div class="bj-product-card__wrapper">
						<a href="/catalogue/group/group/item/" class="bj-product-card__img__shutter"><i></i></a>
						<a id="bx_1891167135_6_pict" href="/catalog/pants/pants-flower-glade/" class="bx_catalog_item_images" style="background-image: url(http://demo.bejetstore.2px.ru/upload/iblock/82a/82aeb4ff7ed300b9c7da01bf882bf49f.jpg);" title="Штаны цветочная поляна в комплекте с чёрной футболкой">
						<div id="bx_1891167135_6_dsc_perc" class="bx_stick_disc right bottom" style="display: none;">-0%</div></a> 
					
						<a id="bx_1891167135_6_secondpict" href="/catalog/pants/pants-flower-glade/" class="bx_catalog_item_images_double" style="background-image: url(http://demo.bejetstore.2px.ru/upload/iblock/25b/25b9984ea810c186ef1cbcd5fa1659b0.jpg);" title="Штаны цветочная поляна в комплекте с чёрной футболкой">
						<div id="bx_1891167135_6_second_dsc_perc" class="bx_stick_disc right bottom" style="display: none;">-0%</div>
						</a>
					
						<div class="i-relative">
							<div class="bj-product-card__info">
								<span class="bj-product-card__info__i i-discount">-30%</span>
								<span class="i-sep"></span>
								<span class="bj-product-card__info__i i-new">Новинка</span>
							</div>
						</div>
					
					</div>
			
					<!--<div class="i-relative">
						<span class="bj-product-card__label">
							<span class="bj-product-card__label__content"><span>В наличии: 1 шт. dasdsadsadsadsads</span></span>
						</span>
					</div>-->
					
					<div class="bj-product-card__wrapper">
						<div class="bj-product-card__title bj-table bx_catalog_item_title">
							<div class="bj-table-row">
								<div class="bj-table-cell">
									<span class="bj-product-card__title__wrapper">
										<a href="/catalogue/group/group/item/">Штаны цветочная поляна в комплекте с чёрной футболкой</a>
									</span>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row bj-product-card__cart">
						<div class="col-xs-6 bj-product-card__price bj-price bx_catalog_item_price">
							<div id="bx_1891167135_6_price" class="text-large text-info bx_price">3 450 р.</div>
							<div class="text-small"><s>3 450 р.</s></div>
						</div>
						<div class="col-xs-6">
							<a id="bx_1891167135_6_buy_link" class="btn btn-default hidden-xs" href="javascript:void(0)" rel="nofollow">Купить</a>
							<a class="btn btn-default visible-xs-inline-block" href="/catalogue/group/group/item/">Купить</a>
						</div>
					</div>
					
					<div class="bx_catalog_item_controls no_touch">
						<span class="bx_catalog_item_controls__wrapper">
							<a id="bx_1891167135_6_quant_down" href="javascript:void(0)" class="bx_bt_button_type_2 bx_small" rel="nofollow">-</a>
							<input type="text" class="bx_col_input" id="bx_1891167135_6_quantity" name="quantity" value="1">
							<a id="bx_1891167135_6_quant_up" href="javascript:void(0)" class="bx_bt_button_type_2 bx_small" rel="nofollow">+</a>
						</span>
					</div>
					
					<div class="bx_catalog_item_articul">
						<span id="bx_1891167135_6_sku_prop">
						Артикул <strong>177-79-19</strong></span>
					</div>
					
					<div class="bx_catalog_item_scu" id="bx_1891167135_6_sku_tree">
						<div class="bj-product-card__wrapper">
							<div class="bx_item_detail_scu" id="bx_1891167135_6_prop_31_cont"> <span class="bx_item_section_name_gray">Цвет</span>
								<div class="bx_scu_scroller_container">
									<div class="bx_scu">
										<ul id="bx_1891167135_6_prop_31_list" style="width: 100%; margin-left: 0%;">
										
											<li data-treevalue="31_1" data-onevalue="1" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Фиолетовый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/upload/uf/1cd/1cd17208b7eb4c64891759acc68bf9ff.jpg');" title="Фиолетовый"></span></span>
											</li>
											
											<li data-treevalue="31_2" data-onevalue="2" style="width: 20%; padding-top: 20%;" class="bx_missing">
<i title="Коричневый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/e77/e7783ed68096cdfb4af1b42d60d7dc47.jpg');" title="Коричневый"></span></span></li>

											<li data-treevalue="31_3" data-onevalue="3" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Морской волны"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/eec/eec52aa295b66d0c2db41fd99ef28245.jpg');" title="Морской волны"></span></span>
											</li>
											
											<li data-treevalue="31_4" data-onevalue="4" style="width: 20%; padding-top: 20%; display: none;" class="bx_missing"><i title="Оранжевый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/440/4407a468fa6db78bbb29f254186c2f11.jpg');" title="Оранжевый"></span></span>
											</li>
											
											<li data-treevalue="31_5" data-onevalue="5" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Красный"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/733/73358ff3771049e96a9b476157b07799.jpg');" title="Красный"></span></span>
											</li>
											
											<li data-treevalue="31_6" data-onevalue="6" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Синий"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/b0c/b0cf0e8f242237cb78bca043b0cb4125.jpg');" title="Синий"></span></span>
											</li>
											
											<li data-treevalue="31_7" data-onevalue="7" style="width: 20%; padding-top: 20%;" class="bx_active"><i title="Зеленый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/536/536b2a490f90f4bd4d9d606eb7c660c0.jpg');" title="Зеленый"></span></span>
											</li>
											
											<li data-treevalue="31_8" data-onevalue="8" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Зеленый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/52b/52b90aecc42f223729ea9213376c11e7.jpg');" title="Зеленый"></span></span></li>
											
											<li data-treevalue="31_9" data-onevalue="9" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Белый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/52b/52b90aecc42f223729ea9213376c11e7.jpg');" title="Белый"></span></span></li>
											
											<li data-treevalue="31_10" data-onevalue="10" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Черный"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/36f/36fcb3df2e8da6e5dd1dae666cb3b19a.jpg');" title="Черный"></span></span></li>
											
											<li data-treevalue="31_11" data-onevalue="11" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Розовый"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/f66/f663d30251822a79cdc56866efa007cd.jpg');" title="Розовый"></span></span></li>
											
											<li data-treevalue="31_12" data-onevalue="12" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Голубой"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/3c5/3c5b493d3077a15404120145b47f0562.jpg');" title="Голубой"></span></span></li>
											
											<li data-treevalue="31_13" data-onevalue="13" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Синий"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/aa6/aa69a99689dbf6d14acd52b7f03225d5.jpg');" title="Синий"></span></span></li>
											
											<li data-treevalue="31_14" data-onevalue="14" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="Цветочек"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('http://demo.bejetstore.2px.ru/upload/uf/319/319539715b3d1ae25c873ff765f4a78c.jpg');" title="Цветочек"></span></span></li>
											
											<li data-treevalue="31_0" data-onevalue="0" style="width: 20%; padding-top: 20%;" class="bx_missing"><i title="-"></i> <span class="cnt"><span class="cnt_item" style="background-image:url('/bitrix/components/bitrix/catalog.top/templates/.default/images/no_photo.png');" title="-"></span></span></li>
										</ul>
									</div>
									<div class="bx_slide_left" id="bx_1891167135_6_prop_31_left" data-treevalue="31" style="display: none;"></div>
									<div class="bx_slide_right" id="bx_1891167135_6_prop_31_right" data-treevalue="31" style="display: none;"></div>
								</div>
							</div>
						</div>
						<div>
							<div class="bx_item_detail_size" id="bx_1891167135_6_prop_30_cont">
								<!--heading changed-->
								<span class="bx_item_section_name_gray">Размер</span>
								<div class="bx_size_scroller_container">
									<div class="bx_size">
										<ul id="bx_1891167135_6_prop_30_list" style="width: 100%; margin-left: 0%;">
											<li data-treevalue="30_10" data-onevalue="10" style="width: 20%;" class="bx_active"><i></i><span class="cnt">40/42</span></li>
											<li data-treevalue="30_11" data-onevalue="11" style="width: 20%;" class=""><i></i><span class="cnt">42/44</span></li>
											<li data-treevalue="30_12" data-onevalue="12" style="width: 20%;" class=""><i></i><span class="cnt">44/46</span></li>
											<li data-treevalue="30_13" data-onevalue="13" style="width: 20%;" class=""><i></i><span class="cnt">46/48</span></li>
											<li data-treevalue="30_14" data-onevalue="14" style="width: 20%;" class=""><i></i><span class="cnt">48/50</span></li>
											<li data-treevalue="30_15" data-onevalue="15" style="width: 20%; display: none;" class="bx_missing"><i></i><span class="cnt">50/52</span></li>
											<li data-treevalue="30_16" data-onevalue="16" style="width: 20%; display: none;" class="bx_missing"><i></i><span class="cnt">52/54</span></li>
											<li data-treevalue="30_0" data-onevalue="0" style="width: 20%; display: none;" class="bx_missing"><i></i><span class="cnt">-</span></li>
										</ul>
									</div>
									<div class="bx_slide_left" id="bx_1891167135_6_prop_30_left" data-treevalue="30" style="display: none;"></div>
									<div class="bx_slide_right" id="bx_1891167135_6_prop_30_right" data-treevalue="30" style="display: none;"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
  </div>
	
</div>
