<link href="/components/bx.catalog.section/style.css" rel="stylesheet">

<div class="bx_catalog_top_home">

	<div class="row">
		
		<div class="col-sm-4">
      <!--#include virtual="item-no-scu.html"-->
		</div>
		
		<div class="col-sm-4">
      <!--#include virtual="item-no-scu.html"-->
		</div>
    
		<div class="col-sm-4">
      <!--#include virtual="item-no-scu.html"-->
		</div>
		
  </div>
  
  <hr class="i-line i-size-L">

	<div class="row">
		
		<div class="col-sm-4">
      <!--#include virtual="item-no-scu.html"-->
		</div>
		
		<div class="col-sm-4">
      <!--#include virtual="item-no-scu.html"-->
		</div>
    
		<div class="col-sm-4">
      <!--#include virtual="item-no-scu.html"-->
		</div>
		
  </div>
	
</div>
