<link href="/components/bx.sale.personal.order.detail/style.css" rel="stylesheet">

<div class="bx_my_order_switch">
	<a class="bx_mo_link" href="/personal/order/index.php">В список заказов</a>
</div>

<div class="bx_order_list">
  <table class="bx_order_list_table">
    <thead>
      <tr>
        <td colspan="2"> Заказ №8													от 24.10.2014 </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> Текущий статус: </td>
        <td> Принят, ожидается оплата													(от 24.10.2014) </td>
      </tr>
      <tr>
        <td> Сумма: </td>
        <td> 6 899.30 руб. </td>
      </tr>
      <tr>
        <td>Отменен:</td>
        <td> Нет&nbsp;&nbsp;&nbsp;[<a href="/personal/order/cancel/8/?CANCEL=Y">Отменить</a>] </td>
      </tr>
      <tr>
        <td><br></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">Данные вашей учетной записи</td>
      </tr>
      <tr>
        <td>Учетная запись:</td>
        <td>Татьяна</td>
      </tr>
      <tr>
        <td>Логин:</td>
        <td>tatiana</td>
      </tr>
      <tr>
        <td>E-Mail адрес:</td>
        <td><a href="mailto:tatiana@twinpx.ru">tatiana@twinpx.ru</a></td>
      </tr>
      <tr>
        <td><br></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">Параметры заказа</td>
      </tr>
      <tr>
        <td>Тип плательщика:</td>
        <td>Физическое лицо</td>
      </tr>
      <tr>
        <td><br></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">Личные данные</td>
      </tr>
      <tr>
        <td>Ф.И.О.:</td>
        <td> Татьяна Карташёва </td>
      </tr>
      <tr>
        <td>E-Mail:</td>
        <td> tatiana@twinpx.ru </td>
      </tr>
      <tr>
        <td>Телефон:</td>
        <td> 2342342342 </td>
      </tr>
      <tr>
        <td><br></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">Данные для доставки</td>
      </tr>
      <tr>
        <td>Индекс:</td>
        <td> 101000 </td>
      </tr>
      <tr>
        <td>Местоположение:</td>
        <td> Россия - Московская обл - Москва </td>
      </tr>
      <tr>
        <td>Город:</td>
        <td> Москва </td>
      </tr>
      <tr>
        <td>Адрес доставки:</td>
        <td> ываыва </td>
      </tr>
      <tr>
        <td><br></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">Параметры доставки и оплаты</td>
      </tr>
      <tr>
        <td>Платёжная система:</td>
        <td> Яндекс.Деньги </td>
      </tr>
      <tr>
        <td>Оплачен:</td>
        <td> Нет </td>
      </tr>
      <tr>
        <td>Служба доставки:</td>
        <td> Доставка курьером </td>
      </tr>
      <tr>
        <td colspan="2"><font class="tablebodytext"> Услугу предоставляет сервис онлайн-платежей <b>«Яндекс.Деньги»</b>.<br>
          <br>
          Сумма к оплате по счету: <b>6899,30 р.</b><br>
          <br>
          </font>
          <form name="ShopForm" action="https://demomoney.yandex.ru/eshop.xml" method="post" target="_blank">
            <font class="tablebodytext">
            <input name="ShopID" value="" type="hidden">
            <input name="scid" value="" type="hidden">
            <input name="customerNumber" value="8" type="hidden">
            <input name="orderNumber" value="8" type="hidden">
            <input name="Sum" value="6899,30" type="hidden">
            <input name="paymentType" value="PC" type="hidden">
            <input name="cms_name" value="1C-Bitrix" type="hidden">
            <!-- <br /> -->
            <!-- Детали заказа:<br /> -->
            <!-- <input name="OrderDetails" value="заказ №8 (24.10.2014 15:27:22)" type="hidden"> -->
            <br>
						
						<!-- new class btn btn-default here -->
            <input name="BuyButton" value="Оплатить" type="submit">
						<!-- end -->
						
            </font>
            <p><font class="tablebodytext"><b>Обратите внимание:</b> если вы откажетесь от покупки, для возврата денег вам придется обратиться в магазин.</font></p>
          </form></td>
      </tr>
    </tbody>
  </table>
  <h3>Содержимое заказа</h3>
  <table class="bx_order_list_table_order">
    <thead>
      <tr>
        <td colspan="2">Наименование</td>
        <td class="custom price">Цена</td>
        <td class="custom amount">Свойства</td>
        <td class="custom price">Скидка</td>
        <td class="custom amount">Тип цены</td>
        <td class="custom price">Количество</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="custom img"><a href="/catalog/shtany/bryuki/" target="_blank"> <img src="/upload/resize_cache/iblock/5bb/110_110_1/5bb7b789434ebaa47cdd49b7f7b9c725.jpg" width="110" height="110" alt="Брюки"> </a> </td>
        <td class="custom name"><a href="/catalog/shtany/bryuki/" target="_blank"> Брюки </a> </td>
        <td class="custom price"><span class="fm">Цена:</span> 1 399.30 руб.</td>
        <td class="custom"><span class="fm">Свойства:</span>
          <table cellspacing="0" class="bx_ol_sku_prop">
            <tbody>
              <tr>
                <td colspan="2"><nobr>Цвет:</nobr><br>
                  <img src="/upload/resize_cache/uf/ddc/30_30_1/ddc4adb00f934285f0d7e81d1a29363e.jpg" width="30" height="30" title="Черный" alt="Черный"> </td>
              </tr>
              <tr>
                <td><nobr>Размеры одежды :</nobr></td>
                <td style="padding-left: 10px !important"><b>S</b></td>
              </tr>
            </tbody>
          </table></td>
        <td class="custom price"><span class="fm">Скидка:</span> 30%</td>
        <td class="custom amount"><span class="fm">Тип цены:</span> Розничная цена</td>
        <td class="custom price"><span class="fm">Количество:</span> 1															шт </td>
      </tr>
      <tr>
        <td class="custom img"><a href="/catalog/shoes-mens/kozhannye_polubotinki/" target="_blank"> <img src="/upload/resize_cache/iblock/a76/110_110_1/a7620c5950359331a29290e93283a567.jpg" width="110" height="110" alt="Кожанные полуботинки "> </a> </td>
        <td class="custom name"><a href="/catalog/shoes-mens/kozhannye_polubotinki/" target="_blank"> Кожанные полуботинки </a> </td>
        <td class="custom price"><span class="fm">Цена:</span> 5 000 руб.</td>
        <td class="custom"><span class="fm">Свойства:</span>
          <table cellspacing="0" class="bx_ol_sku_prop">
            <tbody>
              <tr>
                <td colspan="2"><nobr>Цвет:</nobr><br>
                  <img src="/upload/resize_cache/uf/dc0/30_30_1/dc0e3e4b39b17df6eff196f15b4f9faa.jpg" width="30" height="30" title="Коричневый" alt="Коричневый"> </td>
              </tr>
              <tr>
                <td><nobr>Размеры обуви:</nobr></td>
                <td style="padding-left: 10px !important"><b>35</b></td>
              </tr>
            </tbody>
          </table></td>
        <td class="custom price"><span class="fm">Скидка:</span> </td>
        <td class="custom amount"><span class="fm">Тип цены:</span> Розничная цена</td>
        <td class="custom price"><span class="fm">Количество:</span> 1															шт </td>
      </tr>
    </tbody>
  </table>
  <br>
  <table class="bx_ordercart_order_sum">
    <tbody>
      <tr>
        <td class="custom_t1">Товаров на:</td>
        <td class="custom_t2">6 399.30 руб.</td>
      </tr>
      <tr>
        <td class="custom_t1">Стоимость доставки:</td>
        <td class="custom_t2">500 руб.</td>
      </tr>
      <tr>
        <td class="custom_t1 fwb">Итого:</td>
        <td class="custom_t2 fwb">6 899.30 руб.</td>
      </tr>
    </tbody>
  </table>
  <br>
  <table class="bx_control_table" style="width: 100%;">
    <tbody>
      <tr>
        <td>
					<!-- new class btn btn-default here, remove bx_big bx_bt_button_type_2 -->
					<a href="/personal/order/index.php" class="bx_cart btn btn-default">Вернуться назад</a>
					<!-- end -->
				</td>
      </tr>
    </tbody>
  </table>
</div>