<link href="/components/bx.catalog.element.gallery/bx.style.css" rel="stylesheet">
<link href="/components/bx.catalog.element.gallery/style.css" rel="stylesheet">

<div id="bx_117848907_11_big_slider" class="bx_item_slider">
	<div id="bx_117848907_11_bigimg_cont" class="bx_bigimages">
		<div class="bx_bigimages_imgcontainer">
			<span class="bx_bigimages_aligner" style="margin-top: 28px;">
				<img title="картинка Нижнее белье Морская Волна магазин Одежда+ являющийся официальным дистрибьютором в России " alt="картинка Нижнее белье Морская Волна от магазина Одежда+" src="/upload/catalogue/element.jpg" id="bx_117848907_11_pict">
			</span>
			<div style="" id="bx_117848907_11_dsc_pict" class="bx_stick_disc">-10%</div>
		</div>
	</div>
	<div style="" id="bx_117848907_11_slider_cont_114" class="bx_slider_conteiner full">
		<div class="bx_slider_scroller_container">
			<div class="bx_slide">
				<ul id="bx_117848907_11_slider_list_114" style="width: 120%; margin-left: 0%;">
					<li style="width: 16.666666666667%; padding-top: 16.666666666667%" data-value="114_61" class="bx_active"><span class="cnt"><span style="background-image:url('/upload/catalogue/element.jpg');" class="cnt_item"></span></span></li>
					<li style="width: 16.666666666667%; padding-top: 16.666666666667%" data-value="114_62"><span class="cnt"><span style="background-image:url('/upload/catalogue/element.jpg');" class="cnt_item"></span></span></li>
					<li style="width: 16.666666666667%; padding-top: 16.666666666667%" data-value="114_63"><span class="cnt"><span style="background-image:url('/upload/catalogue/element.jpg');" class="cnt_item"></span></span></li>
					<li style="width: 16.666666666667%; padding-top: 16.666666666667%" data-value="114_64"><span class="cnt"><span style="background-image:url('/upload/catalogue/element.jpg');" class="cnt_item"></span></span></li>
					<li style="width: 16.666666666667%; padding-top: 16.666666666667%" data-value="114_65"><span class="cnt"><span style="background-image:url('/upload/catalogue/element.jpg');" class="cnt_item"></span></span></li>
					<li style="width: 16.666666666667%; padding-top: 16.666666666667%" data-value="114_66"><span class="cnt"><span style="background-image:url('/upload/catalogue/element.jpg');" class="cnt_item"></span></span></li>
				</ul>
			</div>
			<div data-value="114" style="cursor: default; opacity: 0.2;" id="bx_117848907_11_slider_left_114" class="bx_slide_left"></div>
			<div data-value="114" style="cursor: pointer; opacity: 1;" id="bx_117848907_11_slider_right_114" class="bx_slide_right"></div>
		</div>
	</div>
	<div style="display: none;" id="bx_117848907_11_slider_cont_116" class="bx_slider_conteiner full">
		<div class="bx_slider_scroller_container">
			<div class="bx_slide">
				<ul id="bx_117848907_11_slider_list_116" style="width: 120%;">
					<li style="width: 16.666666666667%; padding-top: 16.666666666667%" data-value="116_61"><span class="cnt"><span style="background-image:url('/upload/catalogue/element.jpg');" class="cnt_item"></span></span></li>
					<li style="width: 16.666666666667%; padding-top: 16.666666666667%" data-value="116_62"><span class="cnt"><span style="background-image:url('/upload/catalogue/element.jpg');" class="cnt_item"></span></span></li>
					<li style="width: 16.666666666667%; padding-top: 16.666666666667%" data-value="116_63"><span class="cnt"><span style="background-image:url('/upload/catalogue/element.jpg');" class="cnt_item"></span></span></li>
					<li style="width: 16.666666666667%; padding-top: 16.666666666667%" data-value="116_64"><span class="cnt"><span style="background-image:url('/upload/catalogue/element.jpg');" class="cnt_item"></span></span></li>
					<li style="width: 16.666666666667%; padding-top: 16.666666666667%" data-value="116_65"><span class="cnt"><span style="background-image:url('/upload/catalogue/element.jpg');" class="cnt_item"></span></span></li>
					<li style="width: 16.666666666667%; padding-top: 16.666666666667%" data-value="116_66"><span class="cnt"><span style="background-image:url('/upload/catalogue/element.jpg');" class="cnt_item"></span></span></li>
				</ul>
			</div>
			<div data-value="116" style="" id="bx_117848907_11_slider_left_116" class="bx_slide_left"></div>
			<div data-value="116" style="" id="bx_117848907_11_slider_right_116" class="bx_slide_right"></div>
		</div>
	</div>
	<div style="display: none;" id="bx_117848907_11_slider_cont_115" class="bx_slider_conteiner full">
		<div class="bx_slider_scroller_container">
			<div class="bx_slide">
				<ul id="bx_117848907_11_slider_list_115" style="width: 120%;">
					<li style="width: 16.666666666667%; padding-top: 16.666666666667%" data-value="115_61"><span class="cnt"><span style="background-image:url('/upload/catalogue/element.jpg');" class="cnt_item"></span></span></li>
					<li style="width: 16.666666666667%; padding-top: 16.666666666667%" data-value="115_62"><span class="cnt"><span style="background-image:url('/upload/catalogue/element.jpg');" class="cnt_item"></span></span></li>
					<li style="width: 16.666666666667%; padding-top: 16.666666666667%" data-value="115_63"><span class="cnt"><span style="background-image:url('/upload/catalogue/element.jpg');" class="cnt_item"></span></span></li>
					<li style="width: 16.666666666667%; padding-top: 16.666666666667%" data-value="115_64"><span class="cnt"><span style="background-image:url('/upload/catalogue/element.jpg');" class="cnt_item"></span></span></li>
					<li style="width: 16.666666666667%; padding-top: 16.666666666667%" data-value="115_65"><span class="cnt"><span style="background-image:url('/upload/catalogue/element.jpg');" class="cnt_item"></span></span></li>
					<li style="width: 16.666666666667%; padding-top: 16.666666666667%" data-value="115_66"><span class="cnt"><span style="background-image:url('/upload/catalogue/element.jpg');" class="cnt_item"></span></span></li>
				</ul>
			</div>
			<div data-value="115" style="" id="bx_117848907_11_slider_left_115" class="bx_slide_left"></div>
			<div data-value="115" style="" id="bx_117848907_11_slider_right_115" class="bx_slide_right"></div>
		</div>
	</div>
	<div style="display: none;" id="bx_117848907_11_slider_cont_112" class="bx_slider_conteiner full">
		<div class="bx_slider_scroller_container">
			<div class="bx_slide">
				<ul id="bx_117848907_11_slider_list_112" style="width: 120%;">
					<li style="width: 16.666666666667%; padding-top: 16.666666666667%" data-value="112_61"><span class="cnt"><span style="background-image:url('/upload/catalogue/element.jpg');" class="cnt_item"></span></span></li>
					<li style="width: 16.666666666667%; padding-top: 16.666666666667%" data-value="112_62"><span class="cnt"><span style="background-image:url('/upload/catalogue/element.jpg');" class="cnt_item"></span></span></li>
					<li style="width: 16.666666666667%; padding-top: 16.666666666667%" data-value="112_63"><span class="cnt"><span style="background-image:url('/upload/catalogue/element.jpg');" class="cnt_item"></span></span></li>
					<li style="width: 16.666666666667%; padding-top: 16.666666666667%" data-value="112_64"><span class="cnt"><span style="background-image:url('/upload/catalogue/element.jpg');" class="cnt_item"></span></span></li>
					<li style="width: 16.666666666667%; padding-top: 16.666666666667%" data-value="112_65"><span class="cnt"><span style="background-image:url('/upload/catalogue/element.jpg');" class="cnt_item"></span></span></li>
					<li style="width: 16.666666666667%; padding-top: 16.666666666667%" data-value="112_66"><span class="cnt"><span style="background-image:url('/upload/catalogue/element.jpg');" class="cnt_item"></span></span></li>
				</ul>
			</div>
			<div data-value="112" style="" id="bx_117848907_11_slider_left_112" class="bx_slide_left"></div>
			<div data-value="112" style="" id="bx_117848907_11_slider_right_112" class="bx_slide_right"></div>
		</div>
	</div>
	<div style="display: none;" id="bx_117848907_11_slider_cont_113" class="bx_slider_conteiner full">
		<div class="bx_slider_scroller_container">
			<div class="bx_slide">
				<ul id="bx_117848907_11_slider_list_113" style="width: 120%;">
					<li style="width: 16.666666666667%; padding-top: 16.666666666667%" data-value="113_61"><span class="cnt"><span style="background-image:url('/upload/catalogue/element.jpg');" class="cnt_item"></span></span></li>
					<li style="width: 16.666666666667%; padding-top: 16.666666666667%" data-value="113_62"><span class="cnt"><span style="background-image:url('/upload/catalogue/element.jpg');" class="cnt_item"></span></span></li>
					<li style="width: 16.666666666667%; padding-top: 16.666666666667%" data-value="113_63"><span class="cnt"><span style="background-image:url('/upload/catalogue/element.jpg');" class="cnt_item"></span></span></li>
					<li style="width: 16.666666666667%; padding-top: 16.666666666667%" data-value="113_64"><span class="cnt"><span style="background-image:url('/upload/catalogue/element.jpg');" class="cnt_item"></span></span></li>
					<li style="width: 16.666666666667%; padding-top: 16.666666666667%" data-value="113_65"><span class="cnt"><span style="background-image:url('/upload/catalogue/element.jpg');" class="cnt_item"></span></span></li>
					<li style="width: 16.666666666667%; padding-top: 16.666666666667%" data-value="113_66"><span class="cnt"><span style="background-image:url('/upload/catalogue/element.jpg');" class="cnt_item"></span></span></li>
				</ul>
			</div>
			<div data-value="113" style="" id="bx_117848907_11_slider_left_113" class="bx_slide_left"></div>
			<div data-value="113" style="" id="bx_117848907_11_slider_right_113" class="bx_slide_right"></div>
		</div>
	</div>
</div>