<link href="/components/lookbook.look/style.css" rel="stylesheet">

<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>

<div class="bj-look">

  <div class="row">
    
    <div class="col-sm-7">
      <div class="fotorama" data-width="100%" data-ratio="3/4">
        <img src="/upload/lookbook/1.jpg">
        <img src="/upload/lookbook/2.jpg">
        <img src="/upload/lookbook/3.jpg">
        <img src="/upload/lookbook/4.jpg">
      </div>
      <div class="fotorama" data-ratio="3/4" data-fit="none">
        <img src="/upload/lookbook/1.jpg">
        <img src="/upload/lookbook/2.jpg">
        <img src="/upload/lookbook/3.jpg">
        <img src="/upload/lookbook/4.jpg">
      </div>
    </div>
    
    <hr class="visible-xs i-size-M">
    
    <div class="col-sm-5">
      <h3>Описание</h3>
      <p>Отличный осенний жакет, который вы сможете надеть на прогулку. Сочетается с джинсами и и кросссовками.</p>
      <hr>
      <table class="bj-look__table">
        <tr>
          <td>Кофта</td>
          <td>700 руб.</td>
        </tr>
        <tr>
          <td>Сумочка</td>
          <td>700 руб.</td>
        </tr>
        <tr>
          <td>Платье</td>
          <td>700 руб.</td>
        </tr>
        <tr>
          <td colspan="2" class="text-center">
            <div class="bj-look__price text-info">3 450 руб.</div>
            <div class="small text-muted">Экономия в цене - 599.70 руб.</div>
            <div><s>3 450 р.</s></div>
          </td>
        </tr>
      </table>
      <hr>
      <a class="btn btn-default btn-100 btn-size-L">Купить</a>
    </div>
    
  </div>
  
  <hr class="hidden-xs i-size-L">
    
    <hr class="visible-xs i-size-M">
  
  <div class="bj-look__items">
    <h2>В составе лука</h2>
    <!--#include virtual="/components/bx.catalog.section/element4x2.html"-->
  </div>

</div>