<link href="/components/bx.sale.order.ajax/style.css" rel="stylesheet">
<link href="/components/bx.sale.order.ajax/style_cart.css" rel="stylesheet">

<div id="order_form_div" class="order-checkout">
  <noscript>
  &lt;div class="errortext"&gt;Для оформления заказа необходимо включить JavaScript. По-видимому, JavaScript либо не поддерживается браузером, либо отключен. Измените настройки браузера и затем &lt;a href=""&gt;повторите попытку&lt;/a&gt;.&lt;/div&gt;
  </noscript>
  <div class="bx_order_make">
    <script type="text/javascript">
			var BXFormPosting = false;
			function submitForm(val)
			{
				if (BXFormPosting === true)
					return true;

				BXFormPosting = true;
				if(val != 'Y')
					BX('confirmorder').value = 'N';

				var orderForm = BX('ORDER_FORM');
				BX.showWait();

				BX.ajax.submit(orderForm, ajaxResult);

				return true;
			}

			function ajaxResult(res)
			{
				try
				{
					var json = JSON.parse(res);
					BX.closeWait();

					if (json.error)
					{
						BXFormPosting = false;
						return;
					}
					else if (json.redirect)
					{
						window.top.location.href = json.redirect;
					}
				}
				catch (e)
				{
					BXFormPosting = false;
					BX('order_form_content').innerHTML = res;
				}

				BX.closeWait();
			}

			function SetContact(profileId)
			{
				BX("profile_change").value = "Y";
				submitForm();
			}
			</script>
    <form action="/personal/order/make/" method="POST" name="ORDER_FORM" id="ORDER_FORM" enctype="multipart/form-data">
      <input type="hidden" name="sessid" id="sessid" value="e435cebb6689ab23d1213895b5694c3e">
      <div id="order_form_content">
        <div class="section">
          <h4>Тип плательщика</h4>
					
					<!-- new -->
					<label class="bj-cf__size__i bj-checkbox i-checked">
						<span class="bj-checkbox__u"></span>
						<input type="radio" id="PERSON_TYPE_1" name="PERSON_TYPE" value="1" checked="checked" onclick="submitForm()">
						Физическое лицо
					</label>
					
					<label class="bj-cf__size__i bj-checkbox">
						<span class="bj-checkbox__u"></span>
						<input type="radio" id="PERSON_TYPE_2" name="PERSON_TYPE" value="2" onclick="submitForm()">
						Юридическое лицо
					</label>
					<!-- end -->
					
          <div class="clear"></div>
          <input type="hidden" name="PERSON_TYPE_OLD" value="1">
        </div>
        <div class="section">
				
					<!-- new markup -->
          <h4>Информация для оплаты и доставки заказа</h4>
					<div class="form-group">
						<label>Выберите профиль</label>
						<select name="PROFILE_ID" id="ID_PROFILE_ID" onchange="SetContact(this.value)" class="form-control">
              <option value="0">Новый профиль</option>
              <option value="2" selected="">Татьяна Карташёва</option>
            </select>
					</div>
					<!-- end -->
					
        </div>
        <br>
        <div class="bx_section">
          <h4> Информация о покупателе <a href="#" class="slide" onclick="fGetBuyerProps(this); return false;"> Развернуть </a>
            <input type="hidden" name="showProps" id="showProps" value="N">
          </h4>
          <div id="sale_order_props" style="display:block;">
					
						<!-- new markup for the form controls -->
						<div class="form-group">
							<label>Ф.И.О. <span class="bx_sof_req">*</span></label>
							<input type="text" maxlength="250" size="40" value="Татьяна Карташёва" name="ORDER_PROP_1" id="ORDER_PROP_1" class="form-control">
						</div>
					
						<div class="form-group">
							<label>E-Mail <span class="bx_sof_req">*</span></label>
							<input type="text" maxlength="250" size="40" value="tatiana@twinpx.ru" name="ORDER_PROP_2" id="ORDER_PROP_2" class="form-control">
						</div>
					
						<div class="form-group">
							<label>Телефон <span class="bx_sof_req">*</span></label>
							<input type="text" maxlength="250" size="0" value="2342342342" name="ORDER_PROP_3" id="ORDER_PROP_3" class="form-control">
						</div>
					
						<div class="form-group">
							<label>Индекс <span class="bx_sof_req">*</span></label>
							<input type="text" maxlength="250" size="8" value="101000" name="ORDER_PROP_4" id="ORDER_PROP_4" class="form-control">
						</div>
					
						<div class="form-group">
							<label>Местоположение <span class="bx_sof_req">*</span></label>
							<input size="40" name="ORDER_PROP_6_val" id="ORDER_PROP_6_val" value="Москва, Московская обл, Россия" type="text" autocomplete="off" onfocus="loc_sug_CheckThis(this, this.id);" class="search-suggest form-control">
               <input type="hidden" name="ORDER_PROP_6" id="ORDER_PROP_6" value="671">
						</div>
					
						<div class="form-group">
							<label>Адрес доставки <span class="bx_sof_req">*</span></label>
							<textarea rows="3" cols="30" name="ORDER_PROP_7" id="ORDER_PROP_7" class="form-control">ываыва</textarea>
						</div>
						<!-- end -->
						
          </div>
        </div>

        <div style="display:none;">
          <input size="" name="tmp_val" id="tmp_val" value="" class="search-suggest" type="text" autocomplete="off" onfocus="loc_sug_CheckThis(this, this.id);" class="form-control">
          <input type="hidden" name="tmp" id="tmp" value="0">
        </div>
        <input type="hidden" name="BUYER_STORE" id="BUYER_STORE" value="">
        <div class="bx_section">
          <h4>Служба доставки</h4>
          <div class="bx_block w100 vertical">
            <div class="bx_element">
              <input type="radio" id="ID_DELIVERY_ID_1" name="DELIVERY_ID" value="1" checked="" onclick="submitForm();">
              <label for="ID_DELIVERY_ID_1" onclick="BX('ID_DELIVERY_ID_1').checked=true;submitForm();">
              <div class="bx_logotype"><span style="background-image:url(/bitrix/components/bitrix/sale.order.ajax/templates/.default/images/logo-default-d.gif);"></span></div>
              <div class="bx_description">
                <div class="name"><strong>Доставка курьером</strong></div>
                <span class="bx_result_price"> Стоимость: <b>500 руб.</b><br>
                </span>
                <p> Доставка осуществляется в течение дня в удобное для вас время.<br>
                </p>
              </div>
              </label>
              <div class="clear"></div>
            </div>
          </div>
          <div class="bx_block w100 vertical">
            <div class="bx_element">
              <input type="radio" id="ID_DELIVERY_ID_2" name="DELIVERY_ID" value="2" onclick="submitForm();">
              <label for="ID_DELIVERY_ID_2" onclick="BX('ID_DELIVERY_ID_2').checked=true;submitForm();">
              <div class="bx_logotype"><span style="background-image:url(/bitrix/components/bitrix/sale.order.ajax/templates/.default/images/logo-default-d.gif);"></span></div>
              <div class="bx_description">
                <div class="name"><strong>Самовывоз</strong></div>
                <span class="bx_result_price"> Стоимость: <b>0 руб.</b><br>
                </span>
                <p> Вы можете самостоятельно забрать заказ из нашего магазина.<br>
                </p>
              </div>
              </label>
              <div class="clear"></div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="section">
          <script type="text/javascript">
		function changePaySystem(param)
		{
			if (BX("account_only") && BX("account_only").value == 'Y') // PAY_CURRENT_ACCOUNT checkbox should act as radio
			{
				if (param == 'account')
				{
					if (BX("PAY_CURRENT_ACCOUNT"))
					{
						BX("PAY_CURRENT_ACCOUNT").checked = true;
						BX("PAY_CURRENT_ACCOUNT").setAttribute("checked", "checked");
						BX.addClass(BX("PAY_CURRENT_ACCOUNT_LABEL"), 'selected');

						// deselect all other
						var el = document.getElementsByName("PAY_SYSTEM_ID");
						for(var i=0; i<el.length; i++)
							el[i].checked = false;
					}
				}
				else
				{
					BX("PAY_CURRENT_ACCOUNT").checked = false;
					BX("PAY_CURRENT_ACCOUNT").removeAttribute("checked");
					BX.removeClass(BX("PAY_CURRENT_ACCOUNT_LABEL"), 'selected');
				}
			}
			else if (BX("account_only") && BX("account_only").value == 'N')
			{
				if (param == 'account')
				{
					if (BX("PAY_CURRENT_ACCOUNT"))
					{
						BX("PAY_CURRENT_ACCOUNT").checked = !BX("PAY_CURRENT_ACCOUNT").checked;

						if (BX("PAY_CURRENT_ACCOUNT").checked)
						{
							BX("PAY_CURRENT_ACCOUNT").setAttribute("checked", "checked");
							BX.addClass(BX("PAY_CURRENT_ACCOUNT_LABEL"), 'selected');
						}
						else
						{
							BX("PAY_CURRENT_ACCOUNT").removeAttribute("checked");
							BX.removeClass(BX("PAY_CURRENT_ACCOUNT_LABEL"), 'selected');
						}
					}
				}
			}

			submitForm();
		}
	</script>
          <div class="bx_section">
            <h4>Платежная система</h4>
            <div class="bx_block horizontal">
              <div class="bx_element">
                <input type="radio" id="ID_PAY_SYSTEM_ID_3" name="PAY_SYSTEM_ID" value="3" checked="checked" onclick="changePaySystem();">
                <label for="ID_PAY_SYSTEM_ID_3" onclick="BX('ID_PAY_SYSTEM_ID_3').checked=true;changePaySystem();">
                <div class="bx_logotype"> <span style="background-image:url(/upload/sale/paysystem/logotip/1eb/1eb427d76a8a8e6648c972a41b2a390f.gif);"></span> </div>
                <div class="bx_description">
                  <div class="clear"></div>
                  <strong> Яндекс.Деньги </strong> </div>
                </label>
              </div>
            </div>
            <div class="bx_block horizontal">
              <div class="bx_element">
                <input type="radio" id="ID_PAY_SYSTEM_ID_4" name="PAY_SYSTEM_ID" value="4" onclick="changePaySystem();">
                <label for="ID_PAY_SYSTEM_ID_4" onclick="BX('ID_PAY_SYSTEM_ID_4').checked=true;changePaySystem();">
                <div class="bx_logotype"> <span style="background-image:url(/upload/sale/paysystem/logotip/aa2/aa201d4cbd0c2bd55c62cb7945c4a3c3.gif);"></span> </div>
                <div class="bx_description">
                  <div class="clear"></div>
                  <strong> Банковские карты </strong> </div>
                </label>
              </div>
            </div>
            <div class="bx_block horizontal">
              <div class="bx_element">
                <input type="radio" id="ID_PAY_SYSTEM_ID_5" name="PAY_SYSTEM_ID" value="5" onclick="changePaySystem();">
                <label for="ID_PAY_SYSTEM_ID_5" onclick="BX('ID_PAY_SYSTEM_ID_5').checked=true;changePaySystem();">
                <div class="bx_logotype"> <span style="background-image:url(/upload/sale/paysystem/logotip/2fa/2fa824ebf2b7e4cef6e875001d47693f.gif);"></span> </div>
                <div class="bx_description">
                  <div class="clear"></div>
                  <strong> Терминалы </strong> </div>
                </label>
              </div>
            </div>
            <div class="bx_block w100 vertical">
              <div class="bx_element">
                <input type="radio" id="ID_PAY_SYSTEM_ID_1" name="PAY_SYSTEM_ID" value="1" onclick="changePaySystem();">
                <label for="ID_PAY_SYSTEM_ID_1" onclick="BX('ID_PAY_SYSTEM_ID_1').checked=true;changePaySystem();">
                <div class="bx_logotype"> <span style="background-image:url(/upload/sale/paysystem/logotip/7d6/7d62a95fa1eb4e107df158251f6c23fe.gif);"></span> </div>
                <div class="bx_description"> <strong>Наличные курьеру</strong>
                  <p> Оплата наличными при получении заказа курьеру. </p>
                </div>
                </label>
                <div class="clear"></div>
              </div>
            </div>
            <div class="bx_block w100 vertical">
              <div class="bx_element">
                <input type="radio" id="ID_PAY_SYSTEM_ID_7" name="PAY_SYSTEM_ID" value="7" onclick="changePaySystem();">
                <label for="ID_PAY_SYSTEM_ID_7" onclick="BX('ID_PAY_SYSTEM_ID_7').checked=true;changePaySystem();">
                <div class="bx_logotype"> <span style="background-image:url(/upload/sale/paysystem/logotip/4ce/4ce28e35f27704d227ce6b7df05b90ce.gif);"></span> </div>
                <div class="bx_description"> <strong>Сбербанк</strong>
                  <p> Вы можете оплатить заказ в любом отделении Сбербанка. За услугу по переводу денег с Вас возьмут от 3 до 7% от стоимости заказа, в зависимости от региона. Перечисление денег займет порядка 10 дней. </p>
                </div>
                </label>
                <div class="clear"></div>
              </div>
            </div>
            <div class="bx_block w100 vertical">
              <div class="bx_element">
                <input type="radio" id="ID_PAY_SYSTEM_ID_2" name="PAY_SYSTEM_ID" value="2" onclick="changePaySystem();">
                <label for="ID_PAY_SYSTEM_ID_2" onclick="BX('ID_PAY_SYSTEM_ID_2').checked=true;changePaySystem();">
                <div class="bx_logotype"> <span style="background-image:url(/bitrix/components/bitrix/sale.order.ajax/templates/.default/images/logo-default-ps.gif);"></span> </div>
                <div class="bx_description"> <strong>Наложенный платеж</strong>
                  <p> Оплата с помощью наложенного платежа </p>
                </div>
                </label>
                <div class="clear"></div>
              </div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
        <div class="bx_section" style="display:none">
          <h4>Свойства, связанные с оплатой и доставкой</h4>
          <br>
        </div>
        <div class="bx_ordercart">
          <h4>Товары в заказе</h4>
          <div class="bx_ordercart_order_table_container">
            <table>
              <thead>
                <tr>
                  <td class="margin"></td>
                  <td class="item" colspan="2"> Товары </td>
                  <td class="custom"> Скидка </td>
                  <td class="custom"> Цена </td>
                  <td class="custom"> Количество </td>
                  <td class="custom"> Сумма </td>
                  <td class="margin"></td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="margin"></td>
                  <td class="itemphoto"><div class="bx_ordercart_photo_container"> <a href="/catalog/shtany/bryuki/">
                      <div class="bx_ordercart_photo" style="background-image:url('/upload/resize_cache/iblock/5bb/110_110_1/5bb7b789434ebaa47cdd49b7f7b9c725.jpg')"></div>
                      </a> </div></td>
                  <td class="item" style="width:70%"><h2 class="bx_ordercart_itemtitle"> <a href="/catalog/shtany/bryuki/"> Брюки </a> </h2>
                    <div class="bx_ordercart_itemart"> Цвет:&nbsp;<span>Черный<span><br>
                      Размеры одежды :&nbsp;<span>S<span><br>
                      </span></span></span></span></div></td>
                  <td class="custom right"><span>Скидка:</span> 30% </td>
                  <td class="price right"><div class="current_price">1 399.30 руб.</div>
                    <div class="old_price right"> 1 999 руб. </div></td>
                  <td class="custom right"><span>Количество:</span> 3&nbsp;шт </td>
                  <td class="custom right"><span>Сумма:</span> 4 197.90 руб. </td>
                </tr>
                <tr>
                  <td class="margin"></td>
                  <td class="itemphoto"><div class="bx_ordercart_photo_container"> <a href="/catalog/kurtki/zhaket/">
                      <div class="bx_ordercart_photo" style="background-image:url('/upload/resize_cache/iblock/56e/110_110_1/56e18d2ca194b6fe5be42dd33f685ee1.jpg')"></div>
                      </a> </div></td>
                  <td class="item" style="width:70%"><h2 class="bx_ordercart_itemtitle"> <a href="/catalog/kurtki/zhaket/"> Жакет </a> </h2>
                    <div class="bx_ordercart_itemart"> Размеры одежды :&nbsp;<span>S<span><br>
                      </span></span></div></td>
                  <td class="custom right"><span>Скидка:</span> </td>
                  <td class="price right"><div class="current_price">7 000 руб.</div>
                    <div class="old_price right"> </div></td>
                  <td class="custom right"><span>Количество:</span> 1&nbsp;шт </td>
                  <td class="custom right"><span>Сумма:</span> 7 000 руб. </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="bx_ordercart_order_pay">
            <div class="bx_ordercart_order_pay_right">
              <table class="bx_ordercart_order_sum">
                <tbody>
                  <tr>
                    <td class="custom_t1" colspan="6">Общий вес:</td>
                    <td class="custom_t2">0 кг</td>
                  </tr>
                  <tr>
                    <td class="custom_t1" colspan="6">Товаров на:</td>
                    <td class="custom_t2">11 197.90 руб.</td>
                  </tr>
                  <tr>
                    <td class="custom_t1" colspan="6">Доставка:</td>
                    <td class="custom_t2">500 руб.</td>
                  </tr>
                  <tr>
                    <td class="custom_t1 fwb" colspan="6">Итого:</td>
                    <td class="custom_t2 fwb">11 697.90 руб.</td>
                  </tr>
                  <tr>
                    <td class="custom_t1" colspan="6"></td>
                    <td class="custom_t2" style="text-decoration:line-through; color:#828282;">12 997 руб.</td>
                  </tr>
                </tbody>
              </table>
              <div style="clear:both;"></div>
            </div>
            <div style="clear:both;"></div>
            <div class="bx_section">
              <h4>Комментарии к заказу:</h4>
              <div class="bx_block w100">
							
								<!-- class form-control -->
                <textarea name="ORDER_DESCRIPTION" id="ORDER_DESCRIPTION" style="max-width:100%;min-height:120px" class="form-control"></textarea>
								<!-- end -->
								
              </div>
              <input type="hidden" name="" value="">
              <div style="clear: both;"></div>
              <br>
            </div>
          </div>
        </div>
      </div>
      <input type="hidden" name="confirmorder" id="confirmorder" value="Y">
      <input type="hidden" name="profile_change" id="profile_change" value="N">
      <input type="hidden" name="is_ajax_post" id="is_ajax_post" value="Y">
      <input type="hidden" name="json" value="Y">
      <div class="bx_ordercart_order_pay_center">
			
				<!-- class btn btn-default -->
				<a href="javascript:void();" onclick="submitForm('Y'); return false;" id="ORDER_CONFIRM_BUTTON" class="checkout btn btn-default">Оформить заказ</a>
				<!-- end -->
				
			</div>
    </form>
    <div style="display:none;">
      <div id="delivery_info__"><a href="javascript:void(0)" onclick="deliveryCalcProceed({'STEP':'1','DELIVERY':'','PROFILE':'','WEIGHT':'0','PRICE':'0','LOCATION':'0','LOCATION_ZIP':'','CURRENCY':'','INPUT_NAME':'','TEMP':'','ITEMS':'','EXTRA_PARAMS_CALLBACK':''})">Рассчитать стоимость</a></div>
      <div id="wait_container__" style="display: none;"></div>
    </div>
  </div>
</div>
